extends assets/pug/base-notHeaderJs
block content
    .frame404.frame
        .frameWrapper.wrapper
            .frameContent
                .frameContentWrapper
                    .content404Block
                        .contentBlock
                            .imageBlock
                                img.image(src="assets/vis/404.svg")
                            .title Извините, страница не найдена
                            .descriptionBlock
                                p Вы можете вернуться на <a href="#">главную страницу</a> или бесплатно скачать наше приложение:
                                .actionAppsBlock
                                    .actionApps
                                        a(href="#")
                                            img(src="assets/vis/appStore.jpg")
                                    .actionApps
                                        a(href="#")
                                            img(src="assets/vis/googlePay.png")
                        .imageBlock
                            img.image(src="assets/vis/hand.png")

