extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title О компании
            ul.navActionList
                li.item
                    a(href="#history") История компании
                li.item
                    a(href="#workers") Руководство
                li.item
                    a(href="#contact") Контакты
                li.item
                    a(href="#form") Вакансии
                li.item
                    a(href="#vacation") Сотрудникам
                li.item
                    a(href="#partners") Партнеры
                li.item
                    a(href="#news") Новости холдинга
        .contentMain
            img.fullW(src="http://via.placeholder.com/851x420")
            .contentEditBlock
                p Сегодня группа компаний «Медведь Холдинг» - крупнейшая в Красноярском крае дилерская сеть автосалонов, специализирующихся на продаже, гарантийном и сервисном обслуживании автомобилей марок Mitsubishi, Volkswagen, Hyundai, Skoda, Peugeot, BMW, Citroen, LADA, Suzuki, Genesis, Toyota, Lexus.
                p Еще одним направлением деятельности группы компаний является новая платформа по работе с подержанными автомобилями - «Медведь Trade-in». В ней задействованы все дилерские центры Холдинга, объединенные в единую информационную систему. Комплексная диагностика, высокие требования к состоянию принимаемых авто, следование заявленным стандартам и выгодный клиентский сервис позволили Холдингу поднять сделки с подержанными авто по системе трейд-ин на качественно новый уровень.
            .frame-history#history
                .frameWrapper
                    .frameHead
                        .titleBlock
                            .title История компании
                    .frameContent
                        .frameContentWrapper
                            .historyListBlock(data-click-slide)
                                -let history = 0
                                ul.historyList
                                    while history < 9
                                        li.item
                                            .itemWrapper
                                                .entryBlock
                                                    .date 1992
                                                    .imageBlock
                                                        img.image(src="http://via.placeholder.com/280x190")
                                                    .caption Николай Владимирович Бяков основал небольшой магазин по продаже аккумуляторов, который через небольшой период времени перерос в центр по сервисному обслуживанию автомобилей.
                                        -history++
                            .actionBlock
                                a.action(href="#") Читать историю полностью
            .frame-workers#workers
                .frameWrapper
                    .frameHead
                        .titleBlock
                            .title Руководство
                    .frameContent
                        .frameContentWrapper
                            .workersBlock
                              -let worker = 0
                                ul.workersList
                                    while worker < 9
                                        li.item
                                            .itemWrapper
                                                .imageBlock
                                                    img(src="http://via.placeholder.com/280x320")
                                                .rang Генеральный директор группы компаний «Медведь Холдинг»
                                                .title Бяков Николай Владимирович
                                        -worker++

            .formFeedbackBlock#form
                .formFeedbackWrapper
                    .contentWrapper
                        .title Вакансии: приглашаем <br>профессионалов в <br>команду
                        .description
                            a(href="#") Узнать больше
                    picture
                        source(srcset="assets/vis/formvacationBig.jpg" media="(min-width: 750px)")
                        source(srcset="assets/vis/formfeedback-mobile.jpg" media="(max-width: 749px)")
                        img.image(src="assets/vis/formvacationBig.jpg")
            .contentEdit.alt#vacation
                h2 Сотрудникам
                .imageGallery
                    .imagesListBlock
                        ul.imagesList
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                .contentEditBlock
                    p Опытный, компетентный персонал — важнейшая составляющая и гарантия успеха работы ГК «Медведь Холдинг». Работоспособность, дисциплинированность и профессионализм коллектива, несомненно, позволят компании успешно и эффективно развиваться в будущем. Мы предлагаем:
                    ul
                        li Работу в престижной, крупной, стабильной компании с 28-летней историей;
                        li Официальное трудоустройство с первого рабочего дня;
                        li Достойную и своевременную заработную плату;
                        li Возможность профессионального (тренинги и корпоративное обучение) и карьерного роста;
                        li Участие в спортивных корпоративных мероприятиях, в том числе бесплатное посещение тренажерного зала ГК «Медведь Холдинг»;
                        li Возможность льготного приобретения и обслуживания автомобиля!
                    .contentMoreBlock
                        .contentBlock
                            p Опытный, компетентный персонал — важнейшая составляющая и гарантия успеха работы ГК «Медведь Холдинг». Работоспособность, дисциплинированность и профессионализм коллектива, несомненно, позволят компании успешно и эффективно развиваться в будущем. Мы предлагаем:
                            p Опытный, компетентный персонал — важнейшая составляющая и гарантия успеха работы ГК «Медведь Холдинг». Работоспособность, дисциплинированность и профессионализм коллектива, несомненно, позволят компании успешно и эффективно развиваться в будущем. Мы предлагаем:
                            p Опытный, компетентный персонал — важнейшая составляющая и гарантия успеха работы ГК «Медведь Холдинг». Работоспособность, дисциплинированность и профессионализм коллектива, несомненно, позволят компании успешно и эффективно развиваться в будущем. Мы предлагаем:
                            p Опытный, компетентный персонал — важнейшая составляющая и гарантия успеха работы ГК «Медведь Холдинг». Работоспособность, дисциплинированность и профессионализм коллектива, несомненно, позволят компании успешно и эффективно развиваться в будущем. Мы предлагаем:
                        .actionMoreBlock
                            span.actionMore(data-visible="Свенуть" data-hidden="Подробнее")
                                span.caption Подробнее
            .frame-partners.frame#partners
                .frameWrapper.tabsBox
                    .frameHead
                        .frameHeadWrapper
                            .titleBlock.tabAlt
                                .title Партнеры
                                .tabsListBlock
                                    ul.tabsList
                                        li.tabAction.active
                                            .itemWrapper
                                                a.action.notJs(href="#all") Все
                                        li.tabAction
                                            .itemWrapper
                                                a.action.notJs(href="#auto") Автрострахование
                                        li.tabAction
                                            .itemWrapper
                                                a.action.notJs(href="#credit") Кредиты и рассрочка
                    .frameContent
                        .frameContentWrapper
                            .partnerListBlock
                                -let partner1 = 0;
                                -let partner2 = 0;
                                -let partner3 = 0;
                                .tabContent.active#all
                                    ul.partnerList
                                        while partner1 < 10
                                            li.item
                                                .itemWrapper
                                                    img(src="http://via.placeholder.com/130x24")
                                            -partner1++
                                .tabContent#auto
                                    ul.partnerList
                                        while partner2 < 10
                                            li.item
                                                .itemWrapper
                                                    img(src="http://via.placeholder.com/130x24")
                                            -partner2++
                                .tabContent#credit
                                    ul.partnerList
                                        while partner3 < 10
                                            li.item
                                                .itemWrapper
                                                    img(src="http://via.placeholder.com/130x24")
                                            -partner3++
            .frame-newsList.frame-sliderSmall#news
                .frameWrapper
                    .frameHead
                        .frameHeadWrapper
                            .titleBlock
                                .title Новости холдинга
                                .actionMoreBlock
                                    a.action Смотреть все
                    .frameContent
                        .frameContentWrapper
                            .newsListBlock
                              -let news = 0
                                ul.newsList(data-swiper-autoplay="")
                                    while news < 5
                                        li.item
                                            .itemWrapper
                                                .entryBlock
                                                    .entryWrapper
                                                        .imageBlock
                                                            img.image(src="https://via.placeholder.com/272x320")
                                                        .contentBlock
                                                            .data 25 мая 2020
                                                            .title Высшая школа автомобильного сервиса СФУ
                                        -news++
    .frame-map.frame#contact
        .frameWrapper.wrapper
            .frameContent
                .frameContentWrapper
                    .mainMap
                        .asideMap
                            .asideMapWrapper
                                .title Головной офис
                                .descriptionBlock
                                    .description
                                        .address 660100, Красноярск, ул. Копылова, д. 57 <br>пн-пт, с 9:00 до 18:00
                                .contactsContent
                                    .contactsWrapper
                                        .actionBoxBlock
                                            .actionBox
                                                a.action.email(href="mailto:service@bmw-elitavto.ru") service@bmw-elitavto.ru
                        .mapBlock
                            .mapPointsListBlock
                                ul.mapPointsList
                                    li.item(data-coord="56.012555,92.845908")
                            .map#map
