extends assets/pug/base
block content
    .frame.frame-gslider.notPagination
        .frameWrapper.wrapper_1500
            .sliderFullBlock
                .sliderFullWrapper
                    .sliderListBlock
                        -let n = 0
                        ul.sliderList(data-swiper-autoplay="200000")
                            while n < 8
                                li.item
                                    .itemWrapper
                                        .imageBlock
                                            img.image(src="https://via.placeholder.com/1500x600")
                                        .contentBlock
                                            .contentWrapper
                                                .entryBlock
                                                    .title Официально представлен новый Hyundai Santa Fe
                                                    .actionBlock
                                                        a.action(href="#") Узнать больше
                                -n++
    main.mainAside.wrapper
        aside.aside
            .imageBlock
                img.image(src="assets/vis/bmw.png")
                p Легковые автомобили BMW имеют богатую историю и не менее перспективное будущее. Яркий пример баварских моторных заводов, аббревиатуру которых и носит марка БМВ, – легковые авто, характеризующиеся одними из лучших технических характеристик в мире. Производитель уже на протяжении столетия производит авто под лозунгом «с удовольствием за рулем». Купить BMW можно по всему миру. Производитель предлагает оптимальное соотношение цены и немецкого качества.
                .shareSocialBlock
                    .shareSocialWrapper
                        .caption BMW в соцсетях:
                        .socialList
                            li.item
                                a.icon-social.vk(href="#")
                            li.item
                                a.icon-social.facebook(href="#")
                            li.item
                                a.icon-social.inst(href="#")
                            li.item
                                a.icon-social.youtube(href="#")
        .contentMain
            .contactEntryBlock
                .headContent
                    .title ЭлитАвто (BMW)
                    .address г. Красноярск, ул. Алексеева, д.52   <a href="#">Cхема проезда</a>
                .contactContentBlock
                    .imageBlock
                        img.image(src="http://via.placeholder.com/540x270")
                    .contentBlock
                        .phoneBlock
                            a.action(href="tell:+73912204204") +7 391 2 204 204
                        .info Отдел продаж:  9.00-21.00 пн-вс.
                        .info Сервис:  9.00-21.00 пн-вс.
                        .info Отдел запчастей:  10.00-20.00 пн-вс.
                        .contactFooter
                            .shareSocialBlock
                                .shareSocialWrapper
                                    .socialList
                                        li.item
                                            a.icon-social.vk(href="#")
                                        li.item
                                            a.icon-social.facebook(href="#")
                                        li.item
                                            a.icon-social.inst(href="#")
                                        li.item
                                            a.icon-social.youtube(href="#")
                            .actionBlocks
                                .caption Сайты
                                .actionBlock
                                    a.action(href="www.bmw-elitavto.ru") www.bmw-elitavto.ru
                                .actionBlock
                                    a.action(href="www.moto-elitavto.ru") www.moto-elitavto.ru
            .frame-profitList.frame-sliderSmall.frame
                .frameWrapper
                    .frameHead
                        .frameHeadWrapper
                            .titleBlock
                                .title Акции ЭлитАвто
                                .actionMoreBlock
                                    a.action Смотреть все
                    .frameContent
                        .frameContentWrapper
                            .profitListBlock
                              -let slider1 = 0
                                ul.profitList(data-swiper-autoplay="2500")
                                    while slider1 < 5
                                        li.item
                                            .itemWrapper
                                                .entryBlock
                                                    .entryWrapper
                                                        .imageBlock
                                                            img.image(src="https://via.placeholder.com/369x320")
                                                        .contentBlock
                                                            .title Все любят получать подарки, а Volkswagen любит их дарить!
                                                            .caption Акция с 05.08.2020 до её отмены
                                        -slider1++
            .frame-newsList.frame-sliderSmall
                .frameWrapper
                    .frameHead
                        .frameHeadWrapper
                            .titleBlock
                                .title Новости ЭлитАвто
                                .actionMoreBlock
                                    a.action Смотреть все
                    .frameContent
                        .frameContentWrapper
                            .newsListBlock
                              -let news = 0
                                ul.newsList(data-swiper-autoplay="")
                                    while news < 5
                                        li.item
                                            .itemWrapper
                                                .entryBlock
                                                    .entryWrapper
                                                        .imageBlock
                                                            img.image(src="https://via.placeholder.com/272x320")
                                                        .contentBlock
                                                            .data 25 мая 2020
                                                            .title Высшая школа автомобильного сервиса СФУ
                                        -news++
