extends assets/pug/base
block content
    .frame-projectAlt.frame
        .frameWrapper
            .frameHead
                .frameHeadWrapper.wrapper
                    .titleBlock
                        .title Коммерческие автомобили
            .frameContent.wrapper
                .frameContentWrapper
                    .projectListBlock
                        -let proj = 0
                        -const arr=['Ford','Fiat','Citroen','Renault','Peugeout', 'Hyundai']
                        ul.projectListAlt
                            while proj < 6
                                li.item
                                    .entryBlock
                                        a.entryWrapper(href="#" data-title=`${arr[proj]}`)
                                            .imageBlock
                                                img.image(src="https://via.placeholder.com/500x630")
                                            .contentBlock
                                                .contentWrapper
                                                    .title #{arr[proj]}
                                -proj++
