extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Контакты салонов
            form.fieldBlock.filter(data-request-source="#target" method="get" action="/publications/news/")
                ul.fieldList
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Все города
                                option(value='Красноярск') Красноярск
                                option(value='Питер') Питер
                                option(value='Казань') Казань
                                option(value='Иркутск') Иркутск
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Все марки
                                option(value='Красноярск') BMW
                                option(value='Питер') SUZUKI
            //.infoAction
                .caption По вопросам трудоустройства обращаться в Отдел персонала: понедельник-пятница с 9 до 18 часов
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
        .contentMain.tabsBox.customTabs
            .tabsListBlock.hiddenMobile
                ul.tabsList
                    li.tabAction.active
                        .itemWrapper
                            a.action.notJs(href="#list") Списком
                    li.tabAction
                        .itemWrapper
                            a.action.notJs(href="#maps") На карте
            #target
                .tabContent.active.visibleMobile#list
                    .contactListBlock
                        ul.contactList.mapContactList
                            li.contact(data-coord="56.011927,92.864452")
                                .contactEntryBlock
                                    .headContent
                                        .title ЭлитАвто (BMW)
                                        .address г. Красноярск, ул. Алексеева, д.52   <a href="#">Cхема проезда</a>
                                    .contactContentBlock
                                        .imageBlock
                                            img.image(src="http://via.placeholder.com/540x270")
                                        .contentBlock
                                            .phoneBlock
                                                a.action(href="tell:+73912204204") +7 391 2 204 204
                                            .info Отдел продаж:  9.00-21.00 пн-вс.
                                            .info Сервис:  9.00-21.00 пн-вс.
                                            .info Отдел запчастей:  10.00-20.00 пн-вс.
                                            .contactFooter
                                                .shareSocialBlock
                                                    .shareSocialWrapper
                                                        ul.socialList
                                                            li.item
                                                                a.icon-social.vk(href="#")
                                                            li.item
                                                                a.icon-social.facebook(href="#")
                                                            li.item
                                                                a.icon-social.inst(href="#")
                                                            li.item
                                                                a.icon-social.youtube(href="#")
                                                .actionBlocks
                                                    .caption Сайты
                                                    .actionBlock
                                                        a.action(href="www.bmw-elitavto.ru") www.bmw-elitavto.ru
                                                    .actionBlock
                                                        a.action(href="www.moto-elitavto.ru") www.moto-elitavto.ru
                            li.contact(data-coord="56.211927,92.564452")
                                .contactEntryBlock
                                    .headContent
                                        .title ЭлитАвто (BMW)
                                        .address г. Красноярск, ул. Алексеева, д.52   <a href="#">Cхема проезда</a>
                                    .contactContentBlock
                                        .imageBlock
                                            img.image(src="http://via.placeholder.com/540x270")
                                        .contentBlock
                                            .phoneBlock
                                                a.action(href="tell:+73912204204") +7 391 2 204 204
                                            .info Отдел продаж:  9.00-21.00 пн-вс.
                                            .info Сервис:  9.00-21.00 пн-вс.
                                            .info Отдел запчастей:  10.00-20.00 пн-вс.
                                            .contactFooter
                                                .shareSocialBlock
                                                    .shareSocialWrapper
                                                        ul.socialList
                                                            li.item
                                                                a.icon-social.vk(href="#")
                                                            li.item
                                                                a.icon-social.facebook(href="#")
                                                            li.item
                                                                a.icon-social.inst(href="#")
                                                            li.item
                                                                a.icon-social.youtube(href="#")
                                                .actionBlocks
                                                    .caption Сайты
                                                    .actionBlock
                                                        a.action(href="www.bmw-elitavto.ru") www.bmw-elitavto.ru
                                                    .actionBlock
                                                        a.action(href="www.moto-elitavto.ru") www.moto-elitavto.ru
                            li.contact(data-coord="56.411927,92.164452")
                                .contactEntryBlock
                                    .headContent
                                        .title ЭлитАвто (BMW)
                                        .address г. Красноярск, ул. Алексеева, д.52   <a href="#">Cхема проезда</a>
                                    .contactContentBlock
                                        .imageBlock
                                            img.image(src="http://via.placeholder.com/540x270")
                                        .contentBlock
                                            .phoneBlock
                                                a.action(href="tell:+73912204204") +7 391 2 204 204
                                            .info Отдел продаж:  9.00-21.00 пн-вс.
                                            .info Сервис:  9.00-21.00 пн-вс.
                                            .info Отдел запчастей:  10.00-20.00 пн-вс.
                                            .contactFooter
                                                .shareSocialBlock
                                                    .shareSocialWrapper
                                                        ul.socialList
                                                            li.item
                                                                a.icon-social.vk(href="#")
                                                            li.item
                                                                a.icon-social.facebook(href="#")
                                                            li.item
                                                                a.icon-social.inst(href="#")
                                                            li.item
                                                                a.icon-social.youtube(href="#")
                                                .actionBlocks
                                                    .caption Сайты
                                                    .actionBlock
                                                        a.action(href="www.bmw-elitavto.ru") www.bmw-elitavto.ru
                                                    .actionBlock
                                                        a.action(href="www.moto-elitavto.ru") www.moto-elitavto.ru
                .tabContent#maps
                    .mapContactBlock
                        .mapContact#map
