extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Контакты салонов
            .infoAction
                .caption По вопросам трудоустройства обращаться в Отдел персонала: понедельник-пятница с 9 до 18 часов
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
        .contentMain
            h2.h2 Записаться на сервисное обслуживание
            form.fieldBlock.formService
                ul.fieldList
                    li.field
                        label.wrap
                            .caption Выберите сервисный центр *
                            select(required)
                                option(selected value="bmw") BMW
                                option(value="lada") lada
                                option(value="suzuki") suzuki
                    li.fieldGroup.field.col
                        ul.fieldList
                            li.field
                                label.wrap
                                    .caption Марка *
                                    select(required)
                                        option(selected value="bmw") BMW
                                        option(value="lada") lada
                                        option(value="suzuki") suzuki
                            li.field
                                label.wrap
                                    .caption Модель *
                                    select(required)
                                        option(selected value="bmw") X5
                                        option(value="lada") X20
                                        option(value="suzuki") X100
                    li.fieldGroup.field.col
                        ul.fieldList
                            li.field
                                label.wrap
                                    .caption Фамилия, имя, отчество
                                    input(name="fio" placeholder="Иванов Иван Иванович")
                            li.field
                                label.wrap
                                    .caption Телефон *
                                    input.phone(type='tel' required placeholder="+ 7 (____) ____-___-___")
                    li.fieldGroup.field.col
                        ul.fieldList
                            li.field
                                label.wrap
                                    .caption Удобная дата *
                                    input(name="date" type="date" autocomplete="off" required)
                            li.field.time
                                label.wrap
                                    .caption Удобное время
                                    input(type='time' placeholder="__:__")
                    li.field
                        label.wrap
                            .caption Комментарий
                            textarea(name='comment')
                    li.field.fieldGroup.col
                        ul.fieldList
                            li.field
                                label.wrap
                                    input(type="checkbox" name="personal" required)
                                    .caption Я согласен на обработку моих <a href="#">персональных данных</a> и ознакомлен с <a href="#">политикой конфиденциальности</a>
                            li.field
                                .wrap
                                    .submitBlock
                                        button.submit Отправить
