extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Контакты салонов
            .infoAction
                .caption По вопросам трудоустройства обращаться в Отдел персонала: понедельник-пятница с 9 до 18 часов
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
        .contentMain
            h2.h2 Прислать резюме
            form.fieldBlock.formResume
                ul.fieldList
                    li.fieldGroup.field.col
                        ul.fieldList
                            li.field
                                label.wrap
                                    .caption Фамилия, имя, отчество *
                                    input(name="fio" placeholder="Иванов Иван Иванович" required)
                            li.field
                                label.wrap
                                    .caption Телефон *
                                    input.phone(type='tel' required placeholder="+ 7 (____) ____-___-___")
                    li.fieldGroup.field.col
                        ul.fieldList
                            li.field
                                label.wrap
                                    .caption E-mail
                                    input(name="email" type="email" placeholder="mail@mail.ru")
                            li.field.file
                                label.wrap
                                    .fileLoadBox
                                        input(type='file')
                                        .caption Прикрепить резюме

                    li.field.fieldGroup.col
                        ul.fieldList
                            li.field
                                label.wrap
                                    input(type="checkbox" name="personal" required)
                                    .caption Я согласен на обработку моих <a href="#">персональных данных</a> и ознакомлен с <a href="#">политикой конфиденциальности</a>
                            li.field
                                .wrap
                                    .submitBlock
                                        button.submit Отправить
