extends assets/pug/base
block content
    .frame.frame-gslider
        .frameWrapper.wrapper_1500
            .sliderFullBlock
                .sliderFullWrapper
                    .sliderListBlock(data-pagination data-arrow)
                        -let n = 0
                        ul.sliderList(data-swiper-autoplay="200000")
                            while n < 8
                                li.item
                                    .itemWrapper
                                        .imageBlock
                                            img.image(src="https://via.placeholder.com/1500x600")
                                        .contentBlock
                                            .contentWrapper
                                                .entryBlock
                                                    .title Официально представлен новый Hyundai Santa Fe
                                                    .actionBlock
                                                        a.action.actionEntry.alt(href="#") Узнать больше
                                -n++
    .frame-project.frame
        .frameWrapper
            .frameHead
                .frameHeadWrapper.wrapper
                    .titleBlock
                        .title Проекты «Медведь Холдинг»
            .frameContent.wrapper_1500
                .frameContentWrapper
                    .projectListBlock
                        -let proj = 0
                        -const arr=['Доступный сервис','Trade-in','Высшая школа автомобильного сервиса СФУ','Медведь АКБ','Экстрим']
                        ul.projectList
                            while proj < 3
                                li.item
                                    a.entryBlock(href="#")
                                        .entryWrapper(data-title=`${arr[proj]}`)
                                            .imageBlock
                                                img.image(src="https://via.placeholder.com/750x360")
                                            .contentBlock
                                                .contentWrapper
                                                    .title #{arr[proj]}
                                                    .descriptionBlock
                                                        p Вы можете обменять свой старый автомобиль на любой новый, представленный в наших автосалонах, оплатив лишь разницу в их стоимости. Оценка вашей машины проводится бесплатно.
                                                        .actionBlock
                                                            .action Узнать больше
                                li.item.left
                                    .entryBlock
                                        a.entryWrapper(href="#" data-title=`${arr[proj]}`)
                                            .imageBlock
                                                img.image(src="https://via.placeholder.com/750x360")
                                            .contentBlock
                                                .contentWrapper
                                                    .title #{arr[proj]}
                                                    .descriptionBlock
                                                        p Вы можете обменять свой старый автомобиль на любой новый, представленный в наших автосалонах, оплатив лишь разницу в их стоимости. Оценка вашей машины проводится бесплатно.
                                                        .actionBlock
                                                            .action Узнать больше
                                -proj++
    .frame-careList.frame-sliderSmall.frame
        .frameWrapper
            .frameHead
                .frameHeadWrapper.wrapper
                    .titleBlock
                        .title Забота о клиентах
                        .actionMoreBlock
                            a.action Смотреть все
            .frameContent.wrapper
                .frameContentWrapper
                    .careListBlock(data-arrow)
                        -let slider0 = 0
                        ul.careList(data-swiper-autoplay="2000")
                            while slider0 < 3
                                li.item
                                    .itemWrapper
                                        a.entryBlock(href="#")
                                            .entryWrapper
                                                .imageBlock
                                                    img.image(src="https://via.placeholder.com/369x280")
                                                .contentBlock
                                                    .title Высшая школа автомобильного сервиса СФУ
                                                    .caption Узнать больше
                                li.item
                                    .itemWrapper
                                        a.entryBlock(href="#")
                                            .entryWrapper
                                                .imageBlock
                                                    img.image(src="https://via.placeholder.com/369x280")
                                                .contentBlock
                                                    .title Медведь Assistance
                                                    .caption Узнать больше
                                -slider0++
    .frame-profitList.frame-sliderSmall.frame
        .frameWrapper
            .frameHead
                .frameHeadWrapper.wrapper
                    .titleBlock
                        .title Акции
                        .actionMoreBlock
                            a.action Смотреть все
            .frameContent
                .frameContentWrapper.wrapper
                    .profitListBlock(data-arrow)
                        -let slider1 = 0
                        ul.profitList(data-swiper-autoplay="2500")
                            while slider1 < 5
                                li.item
                                    .itemWrapper
                                        a.entryBlock(href="#")
                                            .entryWrapper
                                                .imageBlock
                                                    img.image(src="https://via.placeholder.com/700x600")
                                                .contentBlock
                                                    .title Все любят получать подарки, а Volkswagen любит их дарить!
                                                    .caption Акция с 05.08.2020 до её отмены
                                -slider1++
    .frame-newsList.frame-sliderSmall
        .frameWrapper
            .frameHead
                .frameHeadWrapper.wrapper
                    .titleBlock
                        .title Последние новости
                        .actionMoreBlock
                            a.action Смотреть все
            .frameContent
                .frameContentWrapper.wrapper
                    .newsListBlock(data-arrow)
                        -let news = 0
                        ul.newsList(data-swiper-autoplay="")
                            while news < 5
                                li.item
                                    .itemWrapper
                                        .entryBlock
                                            .entryWrapper
                                                .imageBlock
                                                    img.image(src="https://via.placeholder.com/430x500")
                                                .contentBlock
                                                    .data 25 мая 2020
                                                    .title Высшая школа автомобильного сервиса СФУ
                                -news++
    .frame-map.frame
        .frameWrapper.wrapper
            .frameContent
                .frameContentWrapper
                    .mainMap
                        .asideMap
                            .asideMapWrapper
                                .title Наши салоны
                                .brandContactListBlock
                                    .brandsContactWrapper(data-arrow)
                                        ul.brandContactList
                                            li.brandContact
                                                .imageBlock
                                                    img.image(src="https://via.placeholder.com/31x31")
                                                .contactsContent
                                                    .contactsWrapper
                                                        .actionBoxBlock
                                                            .actionBox
                                                                a.action.email(href="mailto:service@bmw-elitavto.ru") service@1111-elitavto.ru
                                                            .actionBox
                                                                a.action.phone(href="tel:+73912204204") +1111111
                                                        .socialListBlock
                                                            ul.socialList
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.whatsapp
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.telegram
                                .descriptionBlock
                                    .description
                                        .caption ЭлитАвто (BMW)
                                        .address г. Красноярск, точка
                                .contactsContent
                                    .contactsWrapper
                                        .actionBoxBlock
                                            .actionBox
                                                a.action.email(href="mailto:service@bmw-elitavto.ru") service@bmw-elitavto.ru
                                            .actionBox
                                                a.action.phone(href="tel:+73912204204") +7 391 2 204 204
                                        .socialListBlock
                                            ul.socialList
                                                li.item
                                                    a.itemWrapper(href="#").icon-social.whatsapp
                                                li.item
                                                    a.itemWrapper(href="#").icon-social.viber
                                                li.item
                                                    a.itemWrapper(href="#").icon-social.telegram
                        .mapBlock
                            .mapPointsListBlock
                                ul.mapPointsList
                                    li.item(data-coord="56.012555,92.845908")
                                        ul.brandContactList
                                            li.brandContact
                                                .imageBlock
                                                    img.image(src="https://via.placeholder.com/31x31")
                                                .descriptionBlock
                                                    .description
                                                        .caption ЭлитАвто (BMW)
                                                        .address г. Красноярск, 1
                                                .contactsContent
                                                    .contactsWrapper
                                                        .actionBoxBlock
                                                            .actionBox
                                                                a.action.email(href="mailto:service@bmw-elitavto.ru") service@1111-elitavto.ru
                                                            .actionBox
                                                                a.action.phone(href="tel:+73912204204") +1111111
                                                        .socialListBlock
                                                            ul.socialList
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.whatsapp
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.telegram
                                            li.brandContact
                                                .imageBlock
                                                    img.image(src="https://via.placeholder.com/31x31")
                                                .descriptionBlock
                                                    .description
                                                        .caption ЭлитАвто (BMW)
                                                        .address г. Красноярск, 2
                                                .contactsContent
                                                    .contactsWrapper
                                                        .actionBoxBlock
                                                            .actionBox
                                                                a.action.email(href="mailto:service@bmw-elitavto.ru") service@2222-elitavto.ru
                                                            .actionBox
                                                                a.action.phone(href="tel:+73912204204") +22222222
                                                        .socialListBlock
                                                            ul.socialList
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.whatsapp
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.viber
                                            li.brandContact
                                                .imageBlock
                                                    img.image(src="https://via.placeholder.com/31x31")
                                                .descriptionBlock
                                                    .description
                                                        .caption ЭлитАвто (BMW)
                                                        .address г. Красноярск, 3
                                                .contactsContent
                                                    .contactsWrapper
                                                        .actionBoxBlock
                                                            .actionBox
                                                                a.action.email(href="mailto:service@bmw-elitavto.ru") service@222-elitavto.ru
                                                            .actionBox
                                                                a.action.phone(href="tel:+73912204204") +333333
                                                        .socialListBlock
                                                            ul.socialList
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.viber
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.telegram
                                            li.brandContact
                                                .imageBlock
                                                    img.image(src="https://via.placeholder.com/31x31")
                                                .descriptionBlock
                                                    .description
                                                        .caption ЭлитАвто (BMW)
                                                        .address г. Красноярск, 4
                                                .contactsContent
                                                    .contactsWrapper
                                                        .actionBoxBlock
                                                            .actionBox
                                                                a.action.email(href="mailto:service@bmw-elitavto.ru") service@4444-elitavto.ru
                                                            .actionBox
                                                                a.action.phone(href="tel:+73912204204") +7 4444444
                                                        .socialListBlock
                                                            ul.socialList
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.whatsapp
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.viber
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.telegram
                                            li.brandContact
                                                .imageBlock
                                                    img.image(src="https://via.placeholder.com/31x31")
                                                .descriptionBlock
                                                    .description
                                                        .caption ЭлитАвто (BMW)
                                                        .address г. Красноярск, 5
                                                .contactsContent
                                                    .contactsWrapper
                                                        .actionBoxBlock
                                                            .actionBox
                                                                a.action.email(href="mailto:service@bmw-elitavto.ru") service@5555-elitavto.ru
                                                            .actionBox
                                                                a.action.phone(href="tel:+73912204204") +7 391 2 204 204
                                                        .socialListBlock
                                                            ul.socialList
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.whatsapp
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.viber
                                                                li.item
                                                                    a.itemWrapper(href="#").icon-social.telegram
                                        .contentBlock
                                            .description
                                                .caption ЭлитАвто (BMW)
                                                .address г. Красноярск, левый
                                    li.item(data-coord="55.993703,92.907362")
                                        ul.brandContactList
                                            li.brandContact
                                              .imageBlock
                                                  img.image(src="https://via.placeholder.com/31x31")
                                              .descriptionBlock
                                                 .description
                                                   .caption ЭлитАвто (BMW)
                                                   .address г. Красноярск, 6
                                              .contactsContent
                                                  .contactsWrapper
                                                      .actionBox
                                                          a.action.email(href="mailto:service@bmw-elitavto.ru") service@1111-elitavto.ru
                                                      .actionBox
                                                          a.action.phone(href="tel:+73912204204") +1111111
                                                      ul.socialList
                                                          li.item
                                                              a.itemWrapper(href="#").icon-social.whatsapp
                                                          li.item
                                                              a.itemWrapper(href="#").icon-social.telegram
                                            li.brandContact
                                              .imageBlock
                                                  img.image(src="https://via.placeholder.com/31x31")
                                              .descriptionBlock
                                                .description
                                                  .caption ЭлитАвто (BMW)
                                                  .address г. Красноярск, 5
                                              .contactsContent
                                                  .contactsWrapper
                                                      .actionBox
                                                          a.action.email(href="mailto:service@bmw-elitavto.ru") service@2222-elitavto.ru
                                                      .actionBox
                                                          a.action.phone(href="tel:+73912204204") +22222222
                                                      ul.socialList
                                                          li.item
                                                              a.itemWrapper(href="#").icon-social.whatsapp
                                                          li.item
                                                              a.itemWrapper(href="#").icon-social.viber
                                            li.brandContact
                                              .imageBlock
                                                  img.image(src="https://via.placeholder.com/31x31")
                                              .descriptionBlock
                                                .description
                                                    .caption ЭлитАвто (BMW)
                                                    .address г. Красноярск, 6
                                              .contactsContent
                                                  .contactsWrapper
                                                      .actionBox
                                                          a.action.email(href="mailto:service@bmw-elitavto.ru") service@222-elitavto.ru
                                                      .actionBox
                                                          a.action.phone(href="tel:+73912204204") +333333
                                                      ul.socialList
                                                          li.item
                                                              a.itemWrapper(href="#").icon-social.viber
                                                          li.item
                                                              a.itemWrapper(href="#").icon-social.telegram
                                            li.brandContact
                                              .imageBlock
                                                  img.image(src="https://via.placeholder.com/31x31")
                                              .descriptionBlock
                                                  .description
                                                     .caption ЭлитАвто (BMW)
                                                     .address г. Красноярск, 6
                                              .contactsContent
                                                  .contactsWrapper
                                                      .actionBox
                                                          a.action.email(href="mailto:service@bmw-elitavto.ru") service@4444-elitavto.ru
                                                      .actionBox
                                                          a.action.phone(href="tel:+73912204204") +7 4444444
                                                      ul.socialList
                                                          li.item
                                                              a.itemWrapper(href="#").icon-social.whatsapp
                                                          li.item
                                                              a.itemWrapper(href="#").icon-social.viber
                                                          li.item
                                                              a.itemWrapper(href="#").icon-social.telegram
                                            li.brandContact
                                              .imageBlock
                                                  img.image(src="https://via.placeholder.com/31x31")
                                              .descriptionBlock
                                                 .description
                                                     .caption ЭлитАвто (BMW)
                                                     .address г. Красноярск, 7
                                              .contactsContent
                                                  .contactsWrapper
                                                      .actionBox
                                                          a.action.email(href="mailto:service@bmw-elitavto.ru") service@5555-elitavto.ru
                                                      .actionBox
                                                          a.action.phone(href="tel:+73912204204") +7 391 2 204 204
                                                      ul.socialList
                                                          li.item
                                                              a.itemWrapper(href="#").icon-social.whatsapp
                                                          li.item
                                                              a.itemWrapper(href="#").icon-social.viber
                                                          li.item
                                                              a.itemWrapper(href="#").icon-social.telegram
                                        .contentBlock
                                            .description
                                              .caption ЭлитАвто (BMW)
                                              .address г. Красноярск правый
                            .map#map
