extends assets/pug/base-notHeaderJs
block content
    .frame.frame-gslider
        .frameWrapper.wrapper_1500
            .sliderFullBlock
                .sliderFullWrapper
                    .sliderListBlock
                        -let n = 0
                        ul.sliderList(data-swiper-autoplay="10000")
                            while n < 1
                                li.item
                                    .itemWrapper
                                        .imageBlock
                                            img.image(src="https://via.placeholder.com/1500x600")
                                        .contentBlock
                                            .contentWrapper
                                                .entryBlock
                                                    .title Официально представлен новый Hyundai Santa Fe
                                                    .actionBlock
                                                        a.action.actionEntry.alt(href="#") Узнать больше
                                -n++
    .frame-advantages.frame
        .frameWrapper.wrapper
            .frameHead
                .frameHeadWrapper.wrapper
                    .titleBlock
                        .title Преимущества страхования
            .frameContent.wrapper
                .frameContentWrapper
                    .advantagesListBlock
                        ul.advantagesList
                            li.item
                                .itemWrapper
                                    .imageBlock
                                        img.image(src="assets/vis/advantage1.svg")
                                    .caption Надежно
                                    .description Только проверенные страховые компании
                            li.item
                                .itemWrapper
                                    .imageBlock
                                        img.image(src="assets/vis/advantage2.svg")
                                    .caption Выгодно
                                    .description Скидка при оплате онлайн
                            li.item
                                .itemWrapper
                                    .imageBlock
                                        img.image(src="assets/vis/advantage3.svg")
                                    .caption Безопасно
                                    .description Не выходя из дома, комфортно и безопасно
                            li.item
                                .itemWrapper
                                    .imageBlock
                                        img.image(src="assets/vis/advantage4.png")
                                    .caption Удобно
                                    .description Ремонт на СТО «Медведь–Холдинг»
    .wrapper
        .formFeedbackBlock
            .formFeedbackWrapper
                .contentWrapper
                    .title Не нашли подходящую вакансию?
                    .description
                        p Мы ценим в людях профессионализм, дисциплинированность и нацеленность на результат. Нам важен каждый сотрудник и каждый кандидат!
                        p Если вы не нашли среди списка открытых вакансий подходящую, но мечтаете стать частью команды Группы Компаний «Медведь Холдинг, то отправьте свое резюме/анкету в кадровый резерв по адресу: resume@medved-holding.com
                        .actionBlock
                            a.action(href="#") Скачать файл-анкету Медведь Холдинг
                        p.small При отправке резюме/анкеты, просим указывать название заинтересовавшей Вас вакансии
                picture
                    source(srcset="assets/vis/formfeedback.jpg" media="(min-width: 750px)")
                    source(srcset="assets/vis/formfeedback-mobile.jpg" media="(max-width: 749px)")
                    img.image(src="assets/vis/formfeedback.jpg")
    .contentEditBlock.wrapper
        p Все представленные в России автомобили ŠKODA предлагают пассажирам просторный салон и большой запас места для багажа. Кроме того, для всего модельного ряда доступен широкий ассортимент практичных аксессуаров – например, для перевозки велосипедов, спортивного инвентаря и других крупногабаритных предметов. В каталоге оригинальных аксессуаров можно найти боксы и крепления на крышу, а также держатели для велосипедов и лыжного снаряжения.
        p Из-за пандемии многие семьи проводят летний отпуск в России, не выезжая за границу. В этих условиях многим будет интересно узнать про широкий набор Simply Clever решений ŠKODA для перевозки багажа, разработанный для самых разных задач. Все, что не помещается в багажник – будь то велосипеды, спортивный инвентарь, палатка или оборудование для барбекю – можно закрепить на крыше или положить в специальный бокс. Высококачественные и надежные системы креплений и боксы на крышу отличаются гибкостью в эксплуатации и значительно увеличивают комфорт в путешествиях. Все оригинальные аксессуары ŠKODA разработаны специально для автомобилей марки и испытаны в реальных условиях – они отвечают самым строгим требованиям по простоте и надежности крепления, удобству использования и безопасности.
    .frame-partners.frame
        .frameWrapper.wrapper
            .frameHead
                .frameHeadWrapper
                    .titleBlock
                        .title Партнеры
            .frameContent
                .frameContentWrapper
                    .partnerListBlock
                        -let partner = 0
                        ul.partnerList
                            while partner < 10
                                li.item
                                    .itemWrapper
                                        img(src="http://via.placeholder.com/130x24")
                                -partner++
    .accordionListBlock#target.wrapper
        ul.accordionList
            li.item
                .entryBlock
                    .entryWrapper
                        .headContent
                            .title Продавец
                        .contentBlock
                            .contentWrapper
                                .infoBlock
                                    .caption ОБЯЗАННОСТИ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .actionBlock
                                    a.action(href="#") Отправить резюме
                        .actionBlock
                            span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                span.caption Подробнее
            li.item
                .entryBlock
                    .entryWrapper
                        .headContent
                            .title Программист 1С
                        .contentBlock
                            .contentWrapper
                                .infoBlock
                                    .caption ОБЯЗАННОСТИ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                        ul
                                            li Автоматизация бизнес-процессов Компании;
                                            li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                            li Самостоятельное внедрение программных решений;
                                            li Оказание консультативной поддержки пользователям.
                                .actionBlock
                                    a.action(href="#") Отправить резюме
                        .actionBlock
                            span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                span.caption Подробнее
            li.item
                .entryBlock
                    .entryWrapper
                        .headContent
                            .title Автомеханик
                        .contentBlock
                            .contentWrapper
                                .infoBlock
                                    .caption ОБЯЗАННОСТИ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                        ul
                                            li Автоматизация бизнес-процессов Компании;
                                            li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                            li Самостоятельное внедрение программных решений;
                                            li Оказание консультативной поддержки пользователям.
                                .actionBlock
                                    a.action(href="#") Отправить резюме
                        .actionBlock
                            span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                span.caption Подробнее
            li.item
                .entryBlock
                    .entryWrapper
                        .headContent
                            .title Продавец
                        .contentBlock
                            .contentWrapper
                                .infoBlock
                                    .caption ОБЯЗАННОСТИ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                    ul
                                        li Автоматизация бизнес-процессов Компании;
                                        li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                        li Самостоятельное внедрение программных решений;
                                        li Оказание консультативной поддержки пользователям.
                                .infoBlock
                                    .caption ТРЕБОВАНИЯ:
                                        ul
                                            li Автоматизация бизнес-процессов Компании;
                                            li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                            li Самостоятельное внедрение программных решений;
                                            li Оказание консультативной поддержки пользователям.
                                .actionBlock
                                    a.action(href="#") Отправить резюме
                        .actionBlock
                            span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                span.caption Подробнее
