extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Новости
            .infoBlock
                .actionBreadcrumbs
                    a.actionMoreBread(href="#") Все Новости
                .date 25 мая 2020
            .tagsActionBlock
                ul.tagsActionList
                    li.tagAction
                        a.action(href="#") Высшая школа автомобильного сервиса
        .contentMain
            .headImageBlock
                .contentBlock
                    .date 25 мая 2020
                    .title Simply Clever – решения Škoda для перевозки багажа в путешествиях
                .imageBlock
                    img.image(src="http://via.placeholder.com/576x320")
            .contentEditBlock
                p Все представленные в России автомобили ŠKODA предлагают пассажирам просторный салон и большой запас места для багажа. Кроме того, для всего модельного ряда доступен широкий ассортимент практичных аксессуаров – например, для перевозки велосипедов, спортивного инвентаря и других крупногабаритных предметов. В каталоге оригинальных аксессуаров можно найти боксы и крепления на крышу, а также держатели для велосипедов и лыжного снаряжения.
                p Из-за пандемии многие семьи проводят летний отпуск в России, не выезжая за границу. В этих условиях многим будет интересно узнать про широкий набор Simply Clever решений ŠKODA для перевозки багажа, разработанный для самых разных задач. Все, что не помещается в багажник – будь то велосипеды, спортивный инвентарь, палатка или оборудование для барбекю – можно закрепить на крыше или положить в специальный бокс. Высококачественные и надежные системы креплений и боксы на крышу отличаются гибкостью в эксплуатации и значительно увеличивают комфорт в путешествиях. Все оригинальные аксессуары ŠKODA разработаны специально для автомобилей марки и испытаны в реальных условиях – они отвечают самым строгим требованиям по простоте и надежности крепления, удобству использования и безопасности.
            .contentEditBlock
                .contentImage.left
                    picture.imageBlock
                        source(srcset="http://via.placeholder.com/265x250" media="(min-width: 750px)")
                        source(srcset="http://via.placeholder.com/851x420" media="(max-width: 749px)")
                        img.image(src="http://via.placeholder.com/265x250")
                    h2 Багажники на крышу для всех моделей ŠKODA
                    p Багажники на крышу предлагаются для всех без исключения моделей ŠKODA вне зависимости от того, оснащены они рейлингами или нет. Длинные и крупногабаритные грузы, которые не вмещаются в багажное отделение, можно крепить прямо к поперечинам багажника. Когда они не используются, база и поперечины компактно складываются в специальную сумку. Легкие в креплении боксы объемом до 400 л позволяют разместить большую часть вещей для отпуска и являются идеальным дополнением к багажнику на крыше. Боксы ŠKODA водонепроницаемы, запираются и доступны в трех цветах: черном, серебристом и белом. Благодаря обтекаемой форме они почти не оказывают негативного влияния на расход топлива, шум в салоне или курсовую устойчивость автомобиля на высокой скорости.
            .imageGallery
                .imagesListBlock
                    ul.imagesList
                        li.item
                            .itemWrapper
                                img.image(src="http://via.placeholder.com/851x420")
                        li.item
                            .itemWrapper
                                img.image(src="http://via.placeholder.com/851x420")
                        li.item
                            .itemWrapper
                                img.image(src="http://via.placeholder.com/851x420")
                        li.item
                            .itemWrapper
                                img.image(src="http://via.placeholder.com/851x420")
                        li.item
                            .itemWrapper
                                img.image(src="http://via.placeholder.com/851x420")
            .contentEditBlock
                .contentImage.right
                    picture.imageBlock
                        source(srcset="http://via.placeholder.com/265x250" media="(min-width: 750px)")
                        source(srcset="http://via.placeholder.com/851x420" media="(max-width: 749px)")
                        img.image(src="http://via.placeholder.com/265x250")
                    h2 Держатели для велосипедов <br>и лыжного снаряжения на крыше
                    p ŠKODA также предлагает своим клиентам ряд практичных и надежных решений для перевозки спортивного инвентаря. Например, для транспортировки велосипедов доступны специальные держатели на крышу, которое можно установить непосредственно на базовые элементы багажника на крыше или на поперечные опоры, зафиксированные на рейлингах. Такое устройство позволяет перевозить до трех велосипедов. Поклонники зимних видов спорта также оценят держатели для лыжного снаряжения на крышу, доступные для лифтбеков RAPID, OCTAVIA и SUPERB, а также моделей KAROQ и KODIAQ. Держатель предназначен для перевозки 4 пар лыж или 2 сноубордов.
            .contentEditBlock
                .contentImage.left
                    picture.imageBlock
                        source(srcset="http://via.placeholder.com/265x250" media="(min-width: 750px)")
                        source(srcset="http://via.placeholder.com/851x420" media="(max-width: 749px)")
                        img.image(src="http://via.placeholder.com/265x250")
                    h2 Советы по загрузке и вождению автомобиля с багажником, боксом на крыше и т.д.
                    p Базовое правило – размещать более тяжелый багаж как можно ниже, поскольку более высокий центр тяжести негативно влияет на управляемость автомобиля, особенно в крутых поворотах.
                    p Убедитесь, что багаж на крыше надежно закреплен – в противном случае при резком торможении он может слететь, представляя опасность для окружающих. Всегда соблюдайте ограничения по максимальной нагрузке на крышу – для SUPERB она составляет до 100 кг, для всех остальных моделей ŠKODA – 75 кг.
            .contentEditBlock
                h3 Важная информация
                ul
                    li Длинные и тяжелые предметы следует размещать в боксе на крыше в первую очередь и надежно фиксировать. В передней части бокса можно разместить такие вещи, как куртки или спальные мешки – они создадут необходимую подушку для тяжелых грузов. Старайтесь заполнять все оставшиеся зазоры, чтобы багаж не перемещался внутри бокса во время движения.
                    li При движении по многоярусным паркингам учитывайте увеличившуюся высоту автомобиля с установленным на крыше боксом. Модели SUV, такие как KODIAQ и KAROQ, могут легко стать выше двух метров.
                    li После нескольких километров (или как минимум во время первой остановки по пути) проверьте багаж и крепления. При необходимости отрегулируйте их.
                    li При движении с грузом на крыше, помните, что центр тяжести становится выше, а сопротивление воздуху увеличивается – это приводит к изменению характера управляемости и увеличению тормозного пути. Если багажник на крыше или бокс не используются, их следует демонтировать – это позволит сэкономить топливо.
            .shareSocialBlock
                .shareSocialWrapper
                    .caption Поделитесь с друзьями:
                    .socialList
                        li.item
                            a.icon-social.vk(href="#")
                        li.item
                            a.icon-social.facebook(href="#")
                        li.item
                            a.icon-social.ok(href="#")
            .formFeedbackBlock
                .formFeedbackWrapper
                    .title Заинтересовала новость?
                    .description Оставьте свои контакты, мы свяжемся с вами и расскажем подробности
                    .formContent
                        .fieldBlock
                            ul.fieldList
                                li.field.fieldGroup.col
                                    ul.fieldList
                                        li.field
                                            label.wrap
                                                .caption ФИО *
                                                input(type="text" placeholder="Иванов Иван Иванович")
                                        li.field
                                            label.wrap
                                                .caption Телефон *
                                                input.phone(type="tel" placeholder="Иванов Иван Иванович")
                                li.field.fieldGroup.col
                                    ul.fieldList
                                        li.field
                                            label.wrap
                                                input(type="checkbox" name="personal" required)
                                                .caption Я согласен на обработку моих <a href="#">персональных данных</a> и ознакомлен с <a href="#">политикой конфиденциальности</a>
                                        li.field
                                            .wrap
                                                .submitBlock
                                                    button.submit Жду звонка
                    picture
                        source(srcset="assets/vis/formfeedback.jpg" media="(min-width: 750px)")
                        source(srcset="assets/vis/formfeedback-mobile.jpg" media="(max-width: 749px)")
                        img.image(src="assets/vis/formfeedback.jpg")
