extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Новости холдинга
            .actionBreadcrumbs
                a.actionMoreBread(href="#") Все новости
            .tagsActionBlock
                ul.tagsActionList
                    li.tagAction
                        a.action(href="#") Высшая школа автомобильного сервиса
        .contentMain
            .newsListBlock
                -let news = 0
                ul.newsList.static.paginatorTarget
                    while news < 9
                        li.item
                            .itemWrapper
                                .entryBlock
                                    .entryWrapper
                                        .imageBlock
                                            img.image(src="https://via.placeholder.com/272x320")
                                        .contentBlock
                                            .data 25 мая 2020
                                            .title Высшая школа автомобильного сервиса СФУ
                        -news++
            +pagination
