extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Новости
            form.fieldBlock.filter(data-request-source="#target" method="get" action="/publications/news/")
                ul.fieldList
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Все города
                                option(value='Красноярск') Красноярск
                                option(value='Питер') Питер
                                option(value='Казань') Казань
                                option(value='Иркутск') Иркутск
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Все марки
                                option(value='Красноярск') BMW
                                option(value='Питер') SUZUKI
                    li.field
                        label.wrap
                            select
                                option(value='' selected) За все время
                                option(value='За неделю') За неделю
                                option(value='За месяц') За месяц
                                option(value='За год') За год
                .tagsActionBlock
                    ul.tagsActionList
                        li.tagAction
                            label.wrap
                                input(type="checkbox" name="1")
                                span.caption Продажи
                        li.tagAction
                            label.wrap
                                input(type="checkbox" name="2")
                                span.caption Сервис
                        li.tagAction
                            label.wrap
                                input(type="checkbox" name="3")
                                span.caption Общие
                        li.tagAction
                            label.wrap
                                input(type="checkbox" name="4")
                                span.caption Корпоративные
                .actionBlock
                    .action Новости холдинга
        .contentMain
            #target
                .newsListBlock
                    -let news = 0
                    ul.newsList.static.paginatorTarget
                        while news < 9
                            li.item
                                .itemWrapper
                                    .entryBlock
                                        .entryWrapper
                                            .imageBlock
                                                img.image(src="https://via.placeholder.com/272x320")
                                            .contentBlock
                                                .data 25 мая 2020
                                                .title Высшая школа автомобильного сервиса СФУ
                            -news++
                +pagination
