extends assets/pug/base
block content
    .frame-projectAlt.frame
        .frameWrapper
            .frameHead
                .frameHeadWrapper.wrapper
                    .titleBlock
                        .title Проекты «Медведь Холдинг»
            .frameContent.wrapper
                .frameContentWrapper
                    .projectListBlock
                        -let proj = 0
                        -const arr=['Доступный сервис','Trade-in','Высшая школа автомобильного сервиса СФУ','Медведь АКБ','Экстрим']
                        ul.projectListAlt
                            while proj < 5
                                li.item
                                    .entryBlock
                                        a.entryWrapper(href="#" data-title=`${arr[proj]}`)
                                            .imageBlock
                                                img.image(src="https://via.placeholder.com/500x630")
                                            .contentBlock
                                                .contentWrapper
                                                    .title #{arr[proj]}
                                -proj++
    .frame-careList.frame-sliderSmall.frame
        .frameWrapper
            .frameHead
                .frameHeadWrapper.wrapper
                    .titleBlock
                        .title Забота о клиентах
            .frameContent.wrapper
                .frameContentWrapper
                    .careListBlock.notJs
                        -let slider0 = 0
                        ul.careList(data-swiper-autoplay="2000")
                            while slider0 < 3
                                li.item
                                    .itemWrapper
                                        .entryBlock
                                            .entryWrapper
                                                .imageBlock
                                                    img.image(src="https://via.placeholder.com/369x280")
                                                .contentBlock
                                                    .title Высшая школа автомобильного сервиса СФУ
                                                    .caption Узнать больше
                                -slider0++
