extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Aкции
            form.fieldBlock.filter(data-request-source="#target" method="get" action="/publications/news/")
                ul.fieldList
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Все города
                                option(value='Красноярск') Красноярск
                                option(value='Питер') Питер
                                option(value='Казань') Казань
                                option(value='Иркутск') Иркутск
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Все марки
                                option(value='Красноярск') BMW
                                option(value='Питер') SUZUKI
                    li.field
                        label.wrap
                            select
                                option(value='' selected) За все время
                                option(value='За неделю') За неделю
                                option(value='За месяц') За месяц
                                option(value='За год') За год
                .tagsActionBlock
                    ul.tagsActionList
                        li.tagAction
                            a.action(href="#") Продажи
                        li.tagAction
                            a.action(href="#") Сервис
                        li.tagAction
                            a.action(href="#") Общие
                        li.tagAction
                            a.action(href="#") Корпоративные
        .contentMain
            #target
                .profitListBlock
                    -let slider1 = 0
                    ul.profitList.static.paginatorTarget
                        while slider1 < 6
                            li.item
                                .itemWrapper
                                    .entryBlock
                                        .entryWrapper
                                            .imageBlock
                                                img.image(src="https://via.placeholder.com/369x320")
                                            .contentBlock
                                                .contentWrapper
                                                    .title Все любят получать подарки, а Volkswagen любит их дарить!
                                                    .caption Акция с 05.08.2020 до её отмены
                            -slider1++
                +paginationAlt
