extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Акции
            .infoBlock
                .actionBreadcrumbs
                    a.actionMoreBread(href="#") Все акции
                .date Акция с 05.08.2020 до её отмены
            .tagsActionBlock
                ul.tagsActionList
                    li.tagAction
                        a.action(href="#") Высшая школа автомобильного сервиса
        .contentMain
            .headImageBlock
                .contentBlock
                    .date Акция с 05.08.2020 до её отмены
                    .title Выгодные условия на кроссовер Skoda Kodiaq в августе!
                .imageBlock
                    img.image(src="http://via.placeholder.com/576x320")
            .contentEditBlock
                h2 Какой он, SKODA KODIAQ?
                p Чешские автомобили высокой проходимости не только привлекают внимание, но и достаточно сильно выбиваются из ряда автомобилей одноклассников. Это касается и SKODA KODIAQ.
                p Производители SKODA KODIAQ, стремились его сделать гармоничным во всём: внешность, оформлении салона и комплектации. Этот автомобиль нравится большинству людей уже при первой тестовой поездке, так как таит в себе множество секретов и полезностей для жизни и комфортного использования.
                p Автомобиль создавался на модульной платформе MQB, которая лежит в основе многих моделей концерна VAG. Он доступен в пяти и семиместной версии, именно наличие третьего ряда сидений делает его привлекательным для семейной аудитории.
                p SKODA KODIAQ – один из самых безопасных кроссоверов. По версии EuroNCAP он получил высший рейтинг — пять звёзд. Краш-тесты показали, что безопасность водителя или взрослого пассажира в автомобиле обеспечивается на 92%, пассажир-ребенок защищён на 77%, пешеход — на 71%.
                p Даже в базовой версии автомобиль оснащён системами активной и пассивной безопасности на высоком уровне. Передние и боковые подушки безопасности, преднатяжители ремней, детские ремни Isofix сочетаются с целым рядом электронных помощников водителя:
                ul
                    li система экстренного торможения для защиты пешеходов;
                    li система автономного экстренного торможения в городских условиях;
                    li система обеспечения безопасности в междугородных поездках;
                    li система контроля скорости и другие элементы активной безопасности.
            .contentEditBlock
                .contentImage.left
                    picture
                        source(srcset="http://via.placeholder.com/265x275" media="(min-width: 750px)")
                        source(srcset="http://via.placeholder.com/851x420" media="(max-width: 749px)")
                        img.image(src="http://via.placeholder.com/265x275")
                    h2 Комплектации и цены
                    p Официальный дилер «Медведь-Восток» на 9 Мая, 72, предоставляет покупателям отличный выбор автомобилей в наличии. Помимо стандартных комплектаций Active, Ambition и Sport, автомобиль выпускается в специальных версиях. Ценители предпочитают KODIAQ HOCKEY EDITION, с выгодным набором опций, любителям активного отдыха подойдёт внедорожный KODIAQ Scout. А поклонникам спортивного дизайна достанется самый красивый KODIAQ SPORTLINE.
                    p Только до конца августа, действует выгода до 235 000 руб., а также выгодный кредит.  Это пожалуй, лучшее время, для приобретения нового эффектного автомобиля.
                    p Ваш KODIAQ ждёт вас в автосалоне «Медведь-Восток» на ул. 9 Мая, 72 — приезжайте и выберите свой автомобиль! Телефон: +7 391 2 178 728
            .shareSocialBlock
                .shareSocialWrapper
                    .caption Поделитесь с друзьями:
                    .socialList
                        li.item
                            a.icon-social.vk(href="#")
                        li.item
                            a.icon-social.facebook(href="#")
                        li.item
                            a.icon-social.ok(href="#")
            .formFeedbackBlock
                .formFeedbackWrapper
                    .title Интересная акция?
                    .description Оставьте свои контакты, мы свяжемся с вами и расскажем подробности
                    .formContent
                        .fieldBlock
                            ul.fieldList
                                li.field.fieldGroup.col
                                    ul.fieldList
                                        li.field
                                            label.wrap
                                                .caption ФИО *
                                                input(type="text" placeholder="Иванов Иван Иванович")
                                        li.field
                                            label.wrap
                                                .caption Телефон *
                                                input.phone(type="tel" placeholder="+ 7 (___) ____ ___ ___")
                                li.field.fieldGroup.col
                                    ul.fieldList
                                        li.field
                                            label.wrap
                                                input(type="checkbox" name="personal" required)
                                                .caption Я согласен на обработку моих <a href="#">персональных данных</a> и ознакомлен с <a href="#">политикой конфиденциальности</a>
                                        li.field
                                            .wrap
                                                .submitBlock
                                                    button.submit Жду звонка
                    picture
                        source(srcset="assets/vis/formfeedback.jpg" media="(min-width: 750px)")
                        source(srcset="assets/vis/formfeedback-mobile.jpg" media="(max-width: 749px)")
                        img.image(src="assets/vis/formfeedback.jpg")
            .frame-profitList.frame-sliderSmall.frame
                .frameWrapper
                    .frameHead
                        .frameHeadWrapper
                            .titleBlock
                                .title Другие выгодные акции
                    .frameContent
                        .frameContentWrapper
                            .profitListBlock
                                -let slider1 = 0
                                ul.profitList(data-swiper-autoplay="2500")
                                    li.item
                                        .itemWrapper
                                            .entryBlock
                                                .entryWrapper
                                                    .imageBlock
                                                        img.image(src="https://via.placeholder.com/590x510")
                                                    .contentBlock
                                                        .title Все любят получать подарки, а Volkswagen любит их дарить!
                                                        .caption Акция с 05.08.2020 до её отмены
                                    li.item
                                       .itemWrapper
                                           .entryBlock
                                               .entryWrapper
                                                   .imageBlock
                                                       img.image(src="https://via.placeholder.com/590x510")
                                                   .contentBlock
                                                       .title Все любят получать подарки, а Volkswagen любит их дарить!
                                                       .caption Акция с 05.08.2020 до её отмены
