extends assets/pug/base
block content
    main.mainAside.wrapper
        aside.aside
            h2.title Вакансии
            form.fieldBlock.filter(data-request-source="#target" method="get" action="/publications/news/")
                ul.fieldList
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Все города
                                option(value='Красноярск') Красноярск
                                option(value='Питер') Питер
                                option(value='Казань') Казань
                                option(value='Иркутск') Иркутск
                    li.field
                        label.wrap
                            select
                                option(value='' selected) Дилерские центры
                                option(value='Красноярск') BMW
                                option(value='Питер') SUZUKI
            .infoAction
                .caption По вопросам трудоустройства обращаться в Отдел персонала: понедельник-пятница с 9 до 18 часов
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
                div.phoneBlock
                    a.action(href="#") +7 (391) 219-04-65
        .contentMain
        .contentMain
            .vacationHeadBlock
                .imageGallery
                    .imagesListBlock(data-pagination)
                        ul.imagesList(data-swiper-autoplay="3000")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                            li.item
                                .itemWrapper
                                    img.image(src="http://via.placeholder.com/851x420")
                .contentEditBlock
                    p Опытный, компетентный персонал — важнейшая составляющая и гарантия успеха работы ГК «Медведь Холдинг». Работоспособность, дисциплинированность и профессионализм коллектива, несомненно, позволят компании успешно и эффективно развиваться в будущем. Мы предлагаем:
                    ul
                        li Работу в престижной, крупной, стабильной компании с 28-летней историей;
                        li Официальное трудоустройство с первого рабочего дня;
                        li Достойную и своевременную заработную плату;
                        li Возможность профессионального (тренинги и корпоративное обучение) и карьерного роста;
                        li Участие в спортивных корпоративных мероприятиях, в том числе бесплатное посещение тренажерного зала ГК «Медведь Холдинг»;
                        li Возможность льготного приобретения и обслуживания автомобиля!
            .accordionListBlock#target
                ul.accordionList
                    li.item
                        .entryBlock
                            .entryWrapper
                                .headContent
                                    .title Продавец
                                .contentBlock
                                    .contentWrapper
                                        .infoBlock
                                            .caption ОБЯЗАННОСТИ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .actionBlock
                                            a.action(href="#") Отправить резюме
                                .actionBlock
                                    span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                        span.caption Подробнее
                    li.item
                        .entryBlock
                            .entryWrapper
                                .headContent
                                    .title Программист 1С
                                .contentBlock
                                    .contentWrapper
                                        .infoBlock
                                            .caption ОБЯЗАННОСТИ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                                ul
                                                    li Автоматизация бизнес-процессов Компании;
                                                    li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                    li Самостоятельное внедрение программных решений;
                                                    li Оказание консультативной поддержки пользователям.
                                        .actionBlock
                                            a.action(href="#") Отправить резюме
                                .actionBlock
                                    span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                        span.caption Подробнее
                    li.item
                        .entryBlock
                            .entryWrapper
                                .headContent
                                    .title Автомеханик
                                .contentBlock
                                    .contentWrapper
                                        .infoBlock
                                            .caption ОБЯЗАННОСТИ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                                ul
                                                    li Автоматизация бизнес-процессов Компании;
                                                    li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                    li Самостоятельное внедрение программных решений;
                                                    li Оказание консультативной поддержки пользователям.
                                        .actionBlock
                                            a.action(href="#") Отправить резюме
                                .actionBlock
                                    span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                        span.caption Подробнее
                    li.item
                        .entryBlock
                            .entryWrapper
                                .headContent
                                    .title Продавец
                                .contentBlock
                                    .contentWrapper
                                        .infoBlock
                                            .caption ОБЯЗАННОСТИ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                            ul
                                                li Автоматизация бизнес-процессов Компании;
                                                li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                li Самостоятельное внедрение программных решений;
                                                li Оказание консультативной поддержки пользователям.
                                        .infoBlock
                                            .caption ТРЕБОВАНИЯ:
                                                ul
                                                    li Автоматизация бизнес-процессов Компании;
                                                    li Доработка и обновление типовых и не типовых конфигураций на платформе 1С8.3;
                                                    li Самостоятельное внедрение программных решений;
                                                    li Оказание консультативной поддержки пользователям.
                                        .actionBlock
                                            a.action(href="#") Отправить резюме
                                .actionBlock
                                    span.actionMore(data-visible="Свенуть описание" data-hidden="Подробнее")
                                        span.caption Подробнее
            .formFeedbackBlock.formVacation
                .formFeedbackWrapper
                    .contentWrapper
                        .title Не нашли подходящую вакансию?
                        .description
                            p Мы ценим в людях профессионализм, дисциплинированность и нацеленность на результат. Нам важен каждый сотрудник и каждый кандидат!
                            p Если вы не нашли среди списка открытых вакансий подходящую, но мечтаете стать частью команды Группы Компаний «Медведь Холдинг, то отправьте свое резюме/анкету в кадровый резерв по адресу: <a href="#">resume@medved-holding.com</a>
                            .actionBlock
                                a.action(href="#") Скачать файл-анкету Медведь Холдинг
                            p.small При отправке резюме/анкеты, просим указывать название заинтересовавшей Вас вакансии
                    picture
                        source(srcset="assets/vis/formvacation.jpg" media="(min-width: 750px)")
                        source(srcset="assets/vis/formfeedback-mobile.jpg" media="(max-width: 749px)")
                        img.image(src="assets/vis/formvacation.jpg")
