.frame404 {
  margin: 100px 0 30px;
  @media (max-width: 900px) {
    margin: 60px 0 30px;
  }
}
.content404Block {
  position: relative;
  display: flex;
  text-align: left;
  .contentBlock {
    flex: 0 0 50%;
    .imageBlock {
      font-size: 0;
      margin-bottom: 17px;
      .image {
        max-width: 100%;
      }
    }
    .title {
      font-size: 40px;
      line-height: 1.125;
    }
    .descriptionBlock {
      margin-top: 60px;
      max-width: 400px;
      p {
        font-size: 22px;
      }
      a:not([class]) {
        text-decoration: underline;
        &:hover {
          color: #CD202C;
          text-decoration: none;
        }
      }
      .actionAppsBlock {
        margin-top: 15px;
      }
    }
  }
  &>.imageBlock {
    flex: 0 2 50%;
    .image {
      max-width: 100%;
    }
  }
  @media (max-width: 900px) {
    display: block;
    text-align: center;
    .contentBlock {
      margin-bottom: 40px;
      .title {
        font-size: 25px;
      }
      .descriptionBlock {
        margin: 35px auto 0;
        text-align: center;
        max-width: 600px;

        p {
          font-size: 18px;
        }
        .actionAppsBlock {
          justify-content: center;
        }
      }
    }
  }
}
