.frame-advantages {
  margin: 60px 0;
  @media (max-width: 1024px) {
    margin: 45px 0;
  }
}

.advantagesList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
  margin: 40px 0 0 -50px;
  .item {
    display: block;
    padding: 0 0 0 50px;
    margin-bottom: 20px;
    width: 25%;
    box-sizing: border-box;
    @media (max-width: 800px) {
      width: 50%;
      text-align: center;
      .imageBlock {
        justify-content: center;
      }
    }
    @media (max-width: 480px) {
      width: 50%;
      text-align: center;
      .imageBlock {
        justify-content: center;
      }
      .description {
        margin-top: 10px;
        font-size: 12px;
        line-height: 1.4;
      }
    }
  }
  .imageBlock {
    margin-bottom: 20px;
    height: 110px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    .image {
      max-width: 100%;
    }
  }
  .caption {
    font-size: 30px;
    line-height: 34px;
    color: #000;
    margin-top: 20px;
  }
  .description {
    font-size: 15px;
    line-height: 22px;
    color: #525252;
    margin-top: 20px;
  }
}
