.breadcrumbsList {
  padding: 0 0 0 0;
  margin: 0 0 40px;
  font-size: 0;
  .item {
    padding-right: 24px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: 11px;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        background-color: #B2B2B2;
        top: 50%;
        margin-top: -1.5px;
      }
    }
    a,span {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.37;
      color: #B2B2B2;
    }
    a {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}
