.contactEntryBlock {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  .headContent {
    margin-bottom: 20px;
  }
  .title {
    font-size: 30px;
    line-height: 22px;
    color: #000;
    margin-bottom: 10px;
  }
  .address {
    &::before {
      content: "";
      width: 17px;
      height: 17px;
      display: inline-block;
      vertical-align: bottom;
      background-repeat: no-repeat;
      background-image: url(../vis/address.svg);
      background-position: 50% 50%;
      margin-right: 3px;
      margin-bottom: 3px;
      background-size: contain;
    }
  }
  .contactContentBlock {
    box-sizing: border-box;
    width: 100%;
    padding-right: 315px;
    .contentBlock {
      padding-left: 35px;
      width: 315px;
      box-sizing: border-box;
      float: right;
      margin-right: -315px;
      .phoneBlock {
        margin-bottom: 10px;
        .action {
          font-size: 24px;
          line-height: 22px;
          text-decoration: none;
          &:hover {
            color: #CD202C;
            text-decoration: underline;
          }
        }
      }
      .contactFooter {
        margin-top: 25px;
      }
      .info {
        font-size: 15px;
        line-height: 22px;
      }
      .shareSocialBlock {
        margin: 0 0 25px;
        padding-top: 0;
        border: 0;
      }
      .actionBlocks {
        .caption {
          font-size: 15px;
          line-height: 22px;
          margin-bottom: 10px;
        }
        .actionBlock {
          .action {
            text-decoration: underline;
            &:hover {
              color: #CD202C;
              text-decoration: none;
            }
          }
        }
      }
      @media (max-width: 900px) {

      }
    }
    .imageBlock {
      width: 100%;
      font-size: 0;
      float: left;
      .image {
        width: 100%;
      }
    }
    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }
  @media (max-width: 900px) {
    .contactContentBlock {
      padding-right: 0;
      .imageBlock {
        float: none;
      }
      .contentBlock {
        margin-top: 20px;
        float: none;
        padding-left: 0;
        width: 100%;
      }
    }
    .contactFooter {
      max-width: 400px;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .shareSocialBlock {
        order: 2;
      }
      .actionBlocks {
        order: 1;
      }
    }
  }
  @media (max-width: 360px) {
    .contactContentBlock .contentBlock {
      .contactFooter {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        .shareSocialBlock {
          margin-bottom: 0;
        }
      }
    }
  }
}
