html {
  font-size:62.5%;
  min-height: 100vh;
  background: #fff;
  color: #000;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font:150%/1.37 $fontDefault;
  font-weight: 400;
  height: 100%;
  min-width: 320px;
  background-color: inherit;
  line-height: 1.44;
}

a {
  color: #000000;
  text-decoration: none;
}
#page {
  overflow-x: hidden;
}
body.openMenu {
  overflow: hidden;
}
h2,h1,h3,h4,
.h2,.h1,.h3,.h4{
  //font-weight: bold;
  font-weight: 400;
  font-family: $fontTitle;
  // text-transform: uppercase;
  &:first-child {
    margin-top: 0;
  }
}

h1,.h1 {
  font-size: 30px;
  line-height: 40px;
}
h2,.h2 {
  font-size: 25px;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3,.h3 {
  font-size: 18px;
  line-height: 1.2;
}

p {
  font-size: 15px;
  line-height: 137%;
  margin-bottom: 9px;
  margin-top: 0;
  &.small {
    font-size: 12px;
  }
  /*@media (max-width: 600px) {
    font-size: 18px;
  }*/
  &.big {
    font-size: 26px;
    line-height: 1.5;
    font-family: $fontTitle;
    @media (max-width: 900px) {
      font-size: 18px;
      line-height: 1.22;
    }
    @media (max-width: 600px) {
      font-size: 16px;
      line-height: 1.37;
    }
  }
}
