.footer {
  .footerWrapper {
    max-width: 1180px;
    padding: 40px 20px 25px;
    margin: 0 auto;
    box-sizing: border-box;
    @media (max-width: 900px) {
      padding: 40px 16px 25px;
    }
  }
  .navigation {
    .navList {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0 0 0 -15px;
      &>.item {
        padding: 0 0 0 15px;
        margin: 0;
        display: block;
        box-sizing: border-box;
        .action {
          font-size: 18px;
          line-height: 1.12;
          color: #000000;
          &:hover {
            text-decoration: underline;
            color: #CD202C;
          }
        }
        .navigationSub {
          display: none;
          .navSubList {
            padding: 0;
            margin: 0;
            .item {
              border-top: 1px solid #ECECEC;
              padding: 15px 0 5px;
              margin: 0;
              display: block;
              .action {
                line-height: 28px;
              }
            }
          }
        }
      }
    }
  }
  .logoBlock {
    font-size: 0;
    position: absolute;
    left: 0;
    top: 0;
    .logo {

    }
  }
  .footerDevelop {
    position: absolute;
    left: 0;
    bottom: -2px;
    text-align: left;
    .caption {
      color: #525252;
      font-size: 11px;
    }
  }
  .footerActionApp, .footerActionSocial {
    .caption {
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  .footerActionSocial {
    .caption {
      margin-bottom: 9px;
    }
  }
  .socialListBlock {
    .socialList {
      margin: 0 0 -10px -15px;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      .item {
        display: block;
        width: 39px;
        height: 24px;
        padding-left: 15px;
        margin-bottom: 10px;
        box-sizing: border-box;
        a {
          display: block;
        }
      }
    }
  }
  .footerActionContact {
    text-align: right;
    font-size: 0;
    .action {
      display: inline;
      &.phone {
        font-size: 32px;
        line-height: 1.1;
        span {
          font-size: 70%;
        }
        &:hover {
          color: #CD202C;
        }
      }
      &.email {
        font-size: 14px;
        line-height: 1.15;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
          color: #CD202C;
        }
      }
    }
  }
  .footerContent {
    position: relative;
    padding-left: 290px;
    @media (max-width: 1080px) {
      padding-left: 170px;
    }
  }
  @media (min-width: 750px) {
    .footerContent {
      display: flex;
      flex-wrap: wrap;
    }
    .footerNavigation {
      order: 1;
      margin-bottom: 34px;
      width: 100%;
    }
    .footerActionsBlock {
      order: 2;
      margin-bottom: 34px;
      width: 100%;
      .footerActionsWrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
  }
  @media (max-width: 900px) and (min-width: 750px) {
    .navigation {
      .navList {
        margin-left: -40px;
        flex-wrap: wrap;
        justify-content: flex-start;
        .item {
          padding-left: 40px;
        }
      }
    }
  }
  @media (max-width: 749px) {
    .footerDevelop {
      position: static;
    }
    .logoBlock {
      width: 47px;
      .logo {
        width: 100%;
      }
    }
    .footerContent {
      padding-left: 90px;
    }
    .navigation .navList {
      flex-wrap: wrap;
      justify-content: flex-start;
      .item {
        width: 50%;
        margin-bottom: 19px;
      }
    }
    .footerActionsWrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -80px;
      .footerActionSocial {
        padding-left: 80px;
        order: 2;
        margin-bottom: 25px;
      }
      .footerActionApp {
        padding-left: 80px;
        order: 3;
        margin-bottom: 35px;
      }
      .footerActionContact {
        padding-left: 80px;
        order: 1;
        text-align: left;
        margin-bottom: 21px;
      }
    }
  }
}
.actionAppsBlock {
  display: flex;
  justify-content: flex-start;
  .actionApps {
    font-size: 0;
    img {
      max-width: 100%;
    }
    &+.actionApps {
      margin-left: 8px;
    }
  }
}
