//mobile version start


.header {
  .headerWrapper {
    max-width: 1180px;
    padding: 40px 20px 25px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .headerContent {
    position: relative;
    padding-left: 290px;
  }
  .menuBlock {
    display: none;
    position: absolute;
    left: 0;
    top: 50%;
    font-size: 0;
    transform: translateY(-50%);
    .menuSwitch {
      display: block;
      height: 16px;
      width: 20px;
      padding: 6.5px 0;
      box-sizing: border-box;
      &::before, &::after {
        content: "";
        height: 3px;
        width: 20px;
        background: #212492;
        border-radius: 2px;
        display: block;
        transition: all .3s linear;
        position: absolute;
        right: 0;
      }
      &::before {
        top: 0;
      }
      &::after {
        width: 13px;
        bottom: 0;
      }
      span {
        transition: all .3s linear;
        height: 3px;
        width: 100%;
        background: #212492;
        border-radius: 2px;
        display: block;
      }
      &.openMenu {
        &::before {
          top: 7px;
          transform: rotate(45deg);
        }
        &::after {
          bottom: 6px;
          transform: rotate(-45deg);
          width: 20px;
        }
        span {
          opacity: 0;
        }
      }
    }
  }
  .navigation {
    .navList {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0 0 0 -15px;
      &>.item {
        padding: 0 0 0 15px;
        margin: 0;
        display: block;
        &.sub,
        &.subjs {
          &>.action {
            position: relative;
            padding-right: 17px;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 0;
              width: 9px;
              height: 9px;
              background-image: $downCity;
              background-repeat: no-repeat;
            }
          }
          &.open {
            &>.action {
              &::before {
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }
        }
        @media (min-width: $mobileW+1) {
          &.sub {
            position: relative;
            &:hover {
              &>.action {
                z-index: 4;
                &::before {
                  display: none;
                }
              }
              .navigationSub {
                display: block;
                background: #FFFFFF;
                box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
                border-radius: 3px;
                position: absolute;
                top: -20px;
                left: -25px;
                width: 260px;
                padding: 54px 40px 20px;
                box-sizing: border-box;
                z-index: 3;
              }
            }
          }
          &.subJs.open {

          }
        }
        .action {
          font-size: 17px;
          line-height: 19px;
          color: #000000;
          &:hover {
            text-decoration: underline;
            color: #CD202C;
          }
        }
        .navigationSub {
          display: none;
          .navSubList {
            padding: 0;
            margin: 0;
            .item {
              border-top: 1px solid #ECECEC;
              padding: 15px 0 5px;
              margin: 0;
              display: block;
              .action {
                line-height: 28px;
                &:hover {
                  text-decoration: underline;
                  color: #CD202C;
                }
              }
            }
          }
        }
      }
    }
  }
  .logoBlock {
    font-size: 0;
    position: absolute;
    left: 0;
    bottom: -2px;
  }
  .headerActions {
    .headerActionsWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .actionBlocks {
      margin-left: -10px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      .actionBlock {
        padding-left: 10px;
        .action {
          border: 1px solid #525252;
          line-height: 20px;
          padding: 11px 20px;
          box-sizing: border-box;
          color: #000000;
          min-width: 210px;
          text-align: center;
          display: block;
        }
      }
    }
    .actionContacts {
      text-align: right;
      .action-email {
        font-size: 14px;
        text-decoration: underline;
        line-height: 1;
        &:hover {
          text-decoration: none;
          color: #CD202C;
        }
      }
      .action-tell {
        span {
          font-size: 85%;
        }
        font-size: 23px;
        line-height: 1.11;
        &:hover {
          color: #CD202C;
        }
      }
    }
  }
  .cityActionBlock {
    position: absolute;
    bottom: 5px;
    left: 130px;
    text-align: left;
    z-index: 4;
    .cityActionWrapper {
      position: relative;
    }
    .cityNavBlock {
      display: none;
      padding: 50px 0 15px;
      position: absolute;
      background-color: #fff;
      box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      z-index: 4;
      top: 0;
      left: -20px;
      .cityNavList {
        margin: 0;
        padding: 0;
        .item {
          white-space: nowrap;
          padding: 0 35px 0 20px;
          display: block;
          font-size: 17px;
          line-height: 40px;
          a {
            line-height: 28px;
          }
        }
      }
    }
    .caption {
      font-size: 18px;
      line-height: 20px;
      color: #000;
      opacity: 0.6;
    }
    .actionCity {
      font-size: 18px;
      line-height: 20px;
      color: #000000;
      position: relative;
      padding-right: 15px;
      border-bottom: 2px dotted #000;
      z-index: 5;
      &:hover {
        border-color: transparent;
        color: #CD202C;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 9px;
        height: 9px;
        background-image: $downCity;
        background-repeat: no-repeat;
      }
      &.open {
        &::before {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    &.open {
      .actionCity {
        font-weight: 500;
        border-color: transparent;
        &::before {
          content: none;
        }
      }
      .cityNavBlock {
        display: block;
      }
    }
    @media (max-width: 1190px) {
      .cityNavBlock {
        padding: 31px 0 15px;
        top: -8px;
        left: 0;
        right: -20px;
      }
    }
  }
  .headerActions {
    padding-bottom: 20px;
  }
  .headerNavigation {

  }
  .headerContentJs {
    border-top: 1px solid #000;
    margin-bottom: 35px;
  }
  .brandListBlock {
    padding-right: 130px;
    position: relative;
    box-sizing: border-box;
    margin: 35px 0 10px;
    &>.caption {
      position: absolute;
      right: 0;
      bottom: 15px;
      font-weight: 500;
      width: 115px;
    }
    .brandImageList {
      font-size: 0;
      line-height: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 0 -15px -16px;
      padding: 0;
      .brandItem {
        width: 14.2857%;
        display: block;
        padding-left: 16px;
        box-sizing: border-box;
        margin-bottom: 15px;
        .actionBrand {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        img {
          max-width: 55px;
        }
      }
    }
  }
  @media (min-width: $mobileW+1) {
    &.jsContentHide {
      .headerContentJs {
        display: none;
        &.open {
          display: block;
        }
      }
    }
  }
  @media (max-width: $mobileW) {
    .brandListBlock {
      margin: 0;
      padding: 25px 0 25px;
      &>.caption {
        display: none;
      }
      .brandImageList {
        display: block;
        text-align: center;
        .brandItem {
          display: inline-block;
          vertical-align: top;
          width: 25%;
          margin-bottom: 20px;
          .actionBrand {
            display: block;
          }
        }
      }
    }
    .navigation .navList > .item .navigationSub .navSubList {
      padding-bottom: 10px;
    }
    .headerContentJs {
      display: none;
    }
    .headerWrapper {
      padding: 10px 15px;
      .headerContent {
        padding-left: 110px;
      }
    }

    .menuBlock {
      display: block;
      z-index: 2;
    }
    .headerNavigation {
      display: none;
      padding-top: 180px;
      background: #171833;
      position: fixed;
      top: 76px;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      overflow-y: auto;
      .headerNavigationWrapper {
        padding: 0 15px;
      }
      .navigation {
        .navList {
          padding-top: 15px;
          margin: 0;
          display: block;
          &>.item {
            padding: 0;
            display: block;
            border-bottom: 1px solid rgba(255,255,255, 0.2);
            &:last-child {
              border-bottom: 0;
            }
            .navigationSub {
              margin: 0 -15px;
              padding: 0 15px;
              box-sizing: border-box;
              .item {
                padding: 0;
                &:first-child {
                  border: 0;
                }
              }
              .action {
                padding: 15px 36px 5px;
                color: #000;
                display: block;
              }
            }
            &>.action {
              display: block;
              padding:  15px 36px 14px;
              color: #fff;
            }
            &.sub,&.subjs {
              &>.action::before {
                right: 16px;
                background-image: $downCityW;
              }
              &.open {
                display: block;
                .navigationSub {
                  display: block;
                  background-color: #fff;
                }
              }
            }
          }
        }
      }
    }
    .headerActions {
      padding-bottom: 0;
      .actionBlocks {
        margin: 0;
        display: none;
        position: absolute;
        top: 63px;
        left: -15px;
        right: -15px;
        background: #212492;
        padding: 20px 15px;
        z-index: 6;
        box-sizing: border-box;
        .actionBlock {
          padding: 0;
          &+.actionBlock {
            margin-top: 12px;
          }
          .action {
            display: block;
            color: #fff;
            border-color: #fff;
            min-width: inherit;
          }
        }
      }
    }
    .logoBlock {
      top: -3px;
      bottom: -3px;
      left: 39px;
      .logo {
        height: 100%;
        width: auto;
      }
    }
    .cityActionBlock {
      position: static;
      text-align: inherit;
      .actionCity {
        border: 0;
      }
    }
    .actionContacts {
      text-align: right;
      margin-left: auto;
      .caption, .action-email {
        display: none;
      }
    }
  }
  @media (max-width: 374px) {
    .cityActionBlock .actionCity {
      font-size: 15px;
    }
    .headerActions .actionContacts .action-tell {
      font-size: 23px;
    }
    .headerActions .actionBlocks {
      top: 58px;
    }
  }
}

@media (max-width: $mobileW) {
  body.openMenu {
    .header .headerActions .actionBlocks {
      display: block;
    }
    .header .headerNavigation {
      display: block;
    }
  }

}
