.frame-history {
  margin: 40px 0;
  padding: 30px 0 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  .actionBlock {
    margin-top: 40px;
    .action {
      display: inline-block;
      min-width: 280px;
      padding: 15px 20px;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      background: #212492;
      color: #fff;
      box-sizing: border-box;
    }
  }
}
.historyListBlock {
  margin: 0 -8px;

  position: relative;
  &.initSlider {
    padding-right: 33.333%;
    @media (max-width: 1024px) {
      padding-right: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 100%;
    top: 0;
    bottom: 0;
    width: 50vw;
    background-color: #fff;
  }
  .swiper-container {
    overflow: visible;
  }
  .historyList {
    margin: 0 0 0 0;
    padding: 0;
    display: flex;
    .item {
      display: block;
      padding: 0;
      margin: 0;
      width: 50%;
      @media (max-width: 1024px) {
        width: 40%;
      }
      @media (max-width: 749px) {
        width: 60%;
      }
      @media (max-width: 480px) {
        width: 80%;
      }
      &.swiper-slide {
        opacity: 1;
      }
      &.swiper-slide-active {
        opacity: 1;
      }
      &.swiper-slide-next {
        opacity: 1;
        &+.swiper-slide:last-child {
          opacity: 1;
        }
        &+.swiper-slide {
          opacity: 0.6;
          &+.swiper-slide {
            opacity: 0.3;
            &+.swiper-slide {
              opacity: 0.1;
              &~.swiper-slide {
                opacity: 0;
              }
            }
          }
        }
      }
      .itemWrapper {
        padding: 0 8px;
        width: 100%;
        box-sizing: border-box;
      }
    }

    .entryBlock {
      position: relative;

      .date {
        margin-left: -12px;
        margin-bottom: -60px;
        position: relative;
        z-index: 2;
        font-size: 100px;
        line-height: 113px;
        color: #000000;
      }

      .imageBlock {
        border-radius: 5px;
        overflow: hidden;
        font-size: 0;
        margin-bottom: 20px;
        .image {
          width: 100%;
        }
      }

      .caption {
        color: #525252;
      }
    }
  }
  &:not(.initSlider) {
    .historyList {
      display: flex;
      flex-wrap: wrap;
      .item {
        width: 33.333%;
        @media (max-width: 800px) {
          width: 50%;
        }
        @media (max-width: 480px) {
          width: 100%;
        }
      }
    }
  }
}
