main.mainAside {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
  aside {
    width: 290px;
    padding-right: 50px;
    box-sizing: border-box;
    margin: 0 -100% 0 0;
    float: left;
    position: relative;
    z-index: 3;
    transition: padding-top .3s linear;
    .actionBreadcrumbs {
      text-align: right;
    }
    .infoBlock {
      .actionBreadcrumbs {

      }
      .date {
       display: none;
      }
    }
    .fieldList {
      margin-bottom: 30px;
    }
    .actionMoreBread {
      display: inline-block;
      vertical-align: top;
      padding-left: 32px;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%) rotate(180deg);
        width: 17px;
        height: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: $more;
      }
    }
    .shareSocialBlock {
      padding-top: 0;
      border: 0;
      .caption {
        margin-bottom: 10px;
      }
    }
    .actionBlock {
      margin-top: 30px;
    }
    .title {
      text-align: right;
      margin-bottom: 20px;
      font-size: 45px;
      line-height: 57px;
    }
    .tagsActionBlock {
      margin-top: 20px;
      .tagsActionList {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 0 0 -15px;
        padding: 0;
        flex-wrap: wrap;
        text-align: right;
        .tagAction {
          display: block;
          padding-left: 15px;
          margin-bottom: 15px;
          .action {
            display: inline-block;
            vertical-align: top;
            font-size: 18px;
            line-height: 25px;
            color: #5A8ECB;
            text-decoration: underline;
          }
        }
      }
    }
    .navActionList {
      @media (max-width: 1024px) {
        display: none;
      }
      padding: 0;
      text-align: right;
      .item {
        display: block;
        font-size: 18px;
        line-height: 25px;
        color: #000000;
        margin-bottom: 15px;
      }
    }
    .infoAction {
      margin-top: 25px;
      @media (max-width: 1024px) {
        display: none;
      }
      text-align: right;
      .caption {
        margin-bottom: 15px;
      }
      .phoneBlock {
        font-size: 24px;
        line-height: 22px;
        margin-top: 10px;
      }
    }
    @media (min-width: 1025px) {
      &.fixed {
        position: fixed;
        top: 0;
        padding-top: 20px;
      }
    }
  }
  .contentMain {
    padding-left: 290px;
    float: left;
    width: 100%;
    box-sizing: border-box;
    .frame-sliderSmall {
      overflow: visible;
      .profitList {
        .item {
          width: 50%;
          @media (max-width: 749px) {
            width: 85%;
          }
        }
      }
      .newsList {
        .item {
          width: 33.333%;
          @media (max-width: 800px) {
            width: 38%;
          }
          @media (max-width: 480px) {
            width: 78%;
          }
        }
      }
      @media (max-width: 749px) {
        .swiperWrapper {
          margin: 0 -16px;
          padding: 0 8px;
          box-sizing: border-box;
        }
      }
    }
  }
  @media (max-width: 1024px) {
    aside {
      width: 100%;
      margin: 0 0 30px 0;
      padding-right: 0;
      float: none;
      .title {
        text-align: left;
        font-size: 40px;
        line-height: 45px;
      }
      .tagsActionBlock {
        margin-top: 20px;
        .tagsActionList {
          justify-content: space-between;
          text-align: left;
        }
      }
      .actionBreadcrumbs {
        text-align: left;
      }
      .infoBlock {
        display: flex;
        justify-content: space-between;
        .date {
          display: block;
        }
      }
    }
    .contentMain {
      float: none;
      padding-left: 0;
      .headImageBlock {
        .contentBlock {
          .date {
            display: none;
          }
        }
      }
    }
  }
  @media (max-width: 374px) {
    aside {
      .infoBlock {
        display: block;

        .date {
          margin-top: 10px;
          display: block;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .tabsBox.customTabs {
    .tabsListBlock {
      &.hiddenMobile {
        display: none;
      }
    }
    .tabContent {
      display: none;
      &.visibleMobile {
        display: block;
      }
    }
  }
}

