.frame-map {
  .frameWrapper {
    .mapPointsListBlock {
      display: none;
    }
  }
  .mainMap {
    position: relative;
    height: 520px;
    .asideMap {
      max-width: 1140px;
      margin: 0 auto;
      box-sizing: border-box;
      @media (max-width: 1240px) {
        max-width: 1240px;
      }
      .asideMapWrapper {
        position: relative;
        z-index: 2;
        max-width: 290px;
        margin-right: auto;
        padding-right: 66px;
        box-sizing: border-box;
      }
      .title {
        font-size: 40px;
        line-height: 45px;
        text-align: right;
        color: #000000;
        margin-bottom: 30px;
      }
      .brandContactList {
        padding: 0;
        margin: 0 0 0 -15px;
        display: flex;
        justify-content: flex-end;
        .brandContact {
          padding: 0 0 0 15px;
          margin: 0;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          img {
            max-width: 40px;
          }
          .contactsContent,
          .descriptionBlock {
            display: none;
          }
        }
      }
      .brandsContactWrapper {
        margin-bottom: 25px;
      }
      .brandsContactWrapper.initSlider {
        max-width: 220px;
        padding: 0 30px;
        position: relative;
        border-bottom: 1px solid #C4C4C4;
        margin-left: auto;
        .paginationSlider {
          display: none;
        }
        .swiperPlace {
        }
        .swiper-container {
          margin-bottom: -1px;
        }
        .swiperPlace .prev-slide, .swiperPlace .next-slide {
          width: 21px;
          height: 21px;
          margin-top: -10.5px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-image: $arrBrandsContact;
          &:hover {
            background-image: $arrBrandsContactHover;
          }
        }
        .brandContactList {
          margin: 0;
          padding: 0;
          justify-content: inherit;
          .brandContact {
            width: 33.333%;
            padding: 10px 12.5px 8px;
            position: relative;
            box-sizing: border-box;
            text-align: center;
            .imageBlock {
              img {
                max-width: 100%;
              }
            }
            &.active::before {
              content: "";
              background: #FF3341;
              position: absolute;
              bottom: 0;
              height: 2px;
              left: 0;
              right: 0;
            }
          }
        }
      }
      .socialList {
        padding: 0;
        margin: 25px 0 0 -15px;
        display: flex;
        justify-content: flex-end;
        .item {
          display: block;
          padding: 0 0 0 15px;
          margin: 0;
          box-sizing: border-box;
          .itemWrapper {
            display: block;
            width: 25px;
            height: 25px;
          }
        }
      }
      .contactsContent, .descriptionBlock {
        text-align: right;
        .caption {
          font-size: 18px;
          line-height: 1.25;
        }
        .address {
          font-size: 15px;
          line-height: 22px;
        }
        .action.email {
          font-size: 15px;
          line-height: 22px;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
            color: #CD202C;
          }
        }
        .action.phone {
          margin-top: 15px;
          font-size: 24px;
          line-height: 22px;
          display: inline-block;
          vertical-align: top;
          &:hover {
            text-decoration: none;
            color: #CD202C;
          }
        }
      }
    }
    .mapBlock {
      margin-left: auto;
      position: absolute;
      left: 290px;
      top: 0;
      right: -170px;
      height: 100%;
      box-sizing: border-box;
      @media (max-width: 1480px) {
        right: 0;
      }
      .map {
        width: 100%;
        height: 100%;
        background-color: #171833;
      }
      @media (max-width: 1540px) {

      }
    }
    @media (max-width: 749px) and (min-width: 370px) {
      .asideMap {
        .contactsWrapper {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-between;
          .actionBoxBlock {
            order: 2;
          }
          .socialListBlock {
            order: 1;
          }
        }
      }
    }
    @media (max-width: 749px) {
      height: auto;
      .asideMap {
        margin-bottom: 15px;
      }
      .asideMap .asideMapWrapper {
        padding: 0;
        max-width: inherit;
      }
      .mapBlock {
        position: static;
        .map {
          height: 420px;
        }
      }
    }
  }
}


ymaps {
  .ymaps-2-1-77-balloon {
    margin: -35px 0 0;
    @media (max-width: 1190px) {
      margin: -15px 0 0;
    }
  }
  .contactEntryBlock {
    border-bottom: 0;
    margin-bottom: 0;
    padding: 5px;
    .contactContentBlock {
      padding: 0;
      .imageBlock {
        display: none;
      }
      .contentBlock {
        padding-left: 0;
        width: 100%;
        margin-right: 0;
        float: none;
        .info {
          display: none;
        }
        .shareSocialBlock {
          margin: 10px 0 0;
        }
        .contactFooter {
          .actionBlocks {
            display: none;
          }
        }
      }
    }
  }
}
