@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin objectFit($fit: cover, $pos: 50% 50%) {
  object-fit: $fit;
  object-position: $pos;
  font-family: "object-fit: #{$fit};object-position: #{$pos};";
}
