.paginationBlock {
  margin-top: 20px;
  .paginationWrapper {
    .paginationListBlock {
      .paginationList {
        border-bottom: 1px solid #C4C4C4;
        display: flex;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        .item {
          flex: 1;
          display: block;
          margin: 0;
          box-sizing: border-box;
          .action {
            text-align: center;
            display: block;
            margin: 0;
            padding: 7px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
          }
          &.navigation {
            .action {
              font-size: 0;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: auto;
              background-image: $more;
            }
          }
          &.item-prev {
            transform: rotate(180deg);
          }
          &.item-next {
          }
          &.active {
            font-weight: 500;
            margin-bottom: -2px;
            border-bottom: 2px solid #FF3341;
          }
        }
      }
    }
  }
  .paginationCaptionBlock {
    display: none;
    text-align: center;
    .paginationCaption {
      border: 1px solid #525252;
      line-height: 20px;
      padding: 10px 20px;
      box-sizing: border-box;
      color: #000000;
      text-align: center;
      display: block;
    }
  }
  .paginationCaptionBlock-alt {
    display: block;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 19px;
    .paginationCaption {
      font-size: 18px;
      line-height: 20px;
      color: rgba(0, 0, 0, 0.6);
      padding-right: 16px;
      position: relative;
      &::before {
        content: "";
        width: 14px;
        height: 9px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: auto;
        background-image: $more;
        position: absolute;
        top: 40%;
        right: 0;
        transform: translateY(-50%) rotate(90deg);
      }
    }
  }
}
