.partnerListBlock {
  .partnerList {
    padding: 0;
    margin: 0 0 0 -20px;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    .item {
      margin-bottom: 20px;
      padding-left: 20px;
      box-sizing: border-box;
      width: 20%;
      display: block;
      @media (max-width: 1024px) {
        width: 25%;
      }
      @media (max-width: 800px) {
        width: 33.333%;
      }
      img {
        width: 100%;
      }
    }
  }
}

