.frame-project {
  margin: 80px 0 64px;
  overflow: hidden;
  @media (max-width: 749px) {
    margin: 35px 0 14px;
  }
}
.projectList {
  padding: 0;
  margin: 0 0 0 -16px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .item {
    display: block;
    padding: 0 0 0 16px;
    margin: 0 0 16px 0;
    box-sizing: border-box;
    @media (min-width: 1025px) {
      &:nth-child(5n-4) {
        width: 50%;
      }
      &:nth-child(5n-3) {
        width: 50%;
      }
      &:nth-child(5n-2) {
        width: 29%;
      }
      &:nth-child(5n-1) {
        width: 32%;
      }
      &:nth-child(5n) {
        width: 39%;
      }
      &:nth-child(6n):last-child {
        width: 100%;
      }
    }
    .entryBlock {
      overflow: hidden;
      display: block;
      height: 100%;
      position: relative;
      transform: translateZ(0);
      border-radius: 5px;
      /*&::before {
        content: "";
        width: 600px;
        height: 600px;
        background: rgba(10, 6, 19, 0.7);
        -webkit-filter: blur(250px);
        filter: blur(250px);
        border-radius: 50%;
        position: absolute;
        right: -300px;
        top: 55%;
        z-index: 2;
        transition: top .4s linear;
        @media (max-width: 1024px) {
          right: inherit;
          left: -300px;
        }
      }*/
      @media (min-width: 1025px) {
        &:hover {
          &::before {
            top: -10%
          }
        }
      }
      @media (min-width: 750px) {
        &:hover {
          .contentBlock {
            opacity: 1;
          }
          .entryWrapper::after {
            opacity: 0;
            transition: opacity 0s linear;
          }
        }
      }
      .entryWrapper {
        display: block;
        height: 100%;
        position: relative;
        &::after {
          content: attr(data-title);
          position: absolute;
          right: 40px;
          bottom: 45px;
          z-index: 2;
          color: #fff;
          max-width: 220px;
          text-align: right;
          font-size: 30px;
          opacity: 1;
          transition: opacity .4s linear;
        }
      }
      .imageBlock {
        position: absolute;
        left: 0;
        top:0;
        height: 100%;
        width: 100%;
        background: #000;
        .image {
          opacity: .7;
          width: 100%;
          height: 100%;
          @include objectFit(cover, 50% 50%);
        }
      }
      .contentBlock {
        margin-left: auto;
        transition: opacity .4s linear;
        opacity: 0;
        min-height: 360px;
        height: 100%;
        padding: 40px 40px 120px;
        box-sizing: border-box;
        max-width: 360px;
        width: 100%;
        position: relative;
        z-index: 3;
        text-align: right;
        .contentWrapper {
          height: 100%;
          position: relative;
          color: #fff;
        }
        .title {
          font-size: 30px;
          line-height: 1.12;
        }
        p {
          font-size: 15px;
        }
        .actionBlock {
          position: absolute;
          right: 0;
          bottom: -75px;
          .action {
            display: inline-block;
            width: 100%;
            padding: 15px 20px;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            background: #CD202C;
            color: #fff;
            box-sizing: border-box;
          }
        }
        .descriptionBlock {

        }
      }
    }
    @media (max-width: 1024px) and (min-width: 750px) {
      width: 50%;
      &:nth-child(2n-1):last-child {
        width: 100%;
      }
    }
    @media (max-width: 749px) {
      width: 100%;
      padding-left: 16px;
      box-sizing: content-box;
      .entryBlock {
        .contentBlock {
          min-height: 200px;
          padding: 20px 40px 38px;
        }
      }
      .entryBlock .entryWrapper::after {
        text-align: left;
        font-size: 25px;
      }
      &:nth-child(2n-1) {
        margin-left: -16px;
        .entryBlock {
          border-radius: 0 5px 5px 0;
          .entryWrapper::after {
            left: 56px;
          }
        }
      }
      &:nth-child(2n) {
        margin-right: -16px;
        .entryBlock {
          border-radius: 5px 0 0 5px;
          .entryWrapper::after {
            left: 40px;
          }
        }
      }
    }
    &.left {
      .entryBlock {
        @media (min-width: 1025px) {
          &::before {
            right: inherit;
            left: -300px;
          }
          .entryWrapper::after {
            right: inherit;
            left: 40px;
            text-align: left;
          }
          .contentBlock {
            margin-left: 0;
            margin-right: auto;
            text-align: left;
            .actionBlock {
              right: inherit;
              left: 0;
            }
          }
        }
      }
    }
  }
}

.frame-projectAlt {
  margin: 35px 0;
  .projectListAlt {
    padding: 0;
    margin: 0 0 0 -16px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    .item {
      display: block;
      padding: 0 0 0 16px;
      margin: 0 0 16px 0;
      box-sizing: border-box;
      width: 33.333%;
      @media (max-width: 900px) {
        width: 50%;
      }
      @media (max-width: 540px) {
        width: 100%;
      }
      .entryBlock {
        display: block;
        height: 100%;
        .entryWrapper {
          height: 100%;
          position: relative;
          border-radius: 5px;
          overflow: hidden;
          display: flex;
          flex-flow: row nowrap;
          /*&::before {
            content: "";
            width: 600px;
            height: 600px;
            background: rgba(10, 6, 19, 0.7);
            -webkit-filter: blur(250px);
            filter: blur(250px);
            border-radius: 50%;
            position: absolute;
            left: -300px;
            top: 55%;
            z-index: 2;
          }*/
        }
        .imageBlock {
          width: 100%;
          box-sizing: border-box;
          position: relative;
          padding-top: 127.02%;

          .image {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            @include objectFit(cover, 50% 50%);
          }
        }
        .contentBlock {
          margin-left: -100%;
          height: 100%;
          padding: 40px 40px;
          box-sizing: border-box;
          width: 100%;
          position: relative;
          z-index: 2;
          .contentWrapper {
            height: 100%;
            position: relative;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
          }
          .title {
            font-size: 30px;
            line-height: 1.12;
            @media (max-width: 900px) {
              font-size: 25px;
            }
          }
        }
      }
      @media (max-width: 749px) {
        width: 100%;
        padding-left: 16px;
        box-sizing: content-box;
        .entryBlock {
          .imageBlock {
            padding-top: 55.555%;
          }
        }
        &:nth-child(2n-1) {
          margin-left: -16px;
          .entryBlock {
            .contentBlock {
              padding-left: 56px;
            }
            .entryWrapper {
              border-radius: 0 5px 5px 0;
              &::before {
                left: 56px;
              }
            }
          }
        }
        &:nth-child(2n) {
          margin-right: -16px;
          .entryBlock .entryWrapper {
            border-radius: 5px 0 0 5px;
            &::before {
              left: 40px;
            }
          }
        }
      }
    }
  }
}
