.accordionListBlock {

}
.vacationHeadBlock {
  .imageGallery {
    margin-top: 0;
  }
}
.accordionList {
  padding: 0;
  margin: 0;
  .item {
    display: block;
    margin: 0;
    padding: 30px 0 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    &.open {
      .headContent {
        margin-bottom: 30px;
      }
      .contentBlock {
        display: block;
      }
      .actionMore {
        &::before {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    &:not(.open) .actionBlock {
      margin-top: 15px;
    }
  }
  .actionMore {
    position: relative;
    padding-right: 15px;
    cursor: pointer;
    .caption {
      font-size: 15px;
      line-height: 1.2px;
      color: #000000;
      border-bottom: 2px dotted #000;
    }
    &::before {
      content: "";
      position: absolute;
      top: 55%;
      transform: translateY(-50%);
      right: 0;
      width: 9px;
      height: 9px;
      background-image: $downCity;
      background-repeat: no-repeat;
    }
    &:hover .caption {
      border-color: transparent;
      color: #CD202C;
    }
  }
  .actionBlock {
    margin-top: 25px;
    .action {
      display: inline-block;
      min-width: 280px;
      padding: 15px 20px;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      background: #212492;
      color: #fff;
      box-sizing: border-box
    }
  }
  .entryBlock {
    .entryWrapper {

    }
  }
  .headContent {
    .title {
      font-size: 30px;
      line-height: 1.1;
      @media (max-width: 749px) {
        font-size: 25px;
      }
    }
    margin-bottom: 15px;
  }
  .contentBlock {
    display: none;
    .contentWrapper {

    }
    .infoBlock {
      font-size: 15px;
      line-height: 1.25;
      color: #525252;
      &+.infoBlock {
        margin-top: 25px;
      }
      .caption {
        text-transform: uppercase;
        margin-bottom: 5px;
      }
      ul {
        list-style: disc;
        padding-left: 0;
        list-style-position: inside;
        li {
          margin-bottom: 5px;
        }
      }
    }
  }
}

.vacationHeadBlock {
  .contentEditBlock {
    ul {
      li {
        padding-left: 17px;
        &::before {
          width: 10px;
          height: 12px;
          background-image: url('../vis/checkli.svg');
          background-repeat: no-repeat;
          background-color: transparent;
          top: 4px
        }
      }
    }
  }
}
