mixin headPage(title,bread, image, pretitle, description, filter, filterItem, filterSearch)
    .headPageBlock
        .headPageWrapper
            .titleBlock
                h1.titlePage.h1=title
                if (bread)
                    +breadCrumbs(title)
                if (pretitle)
                    p.subTitle=pretitle
                if (image)
                    .imageBlock
                        img.image(src="assets/img/")
            if (description)
                .descriptionBlock=description
            if (filter)
                +filter(filterItem,filterSearch)
mixin breadCrumbs(title)
    ul.breadcrumbsList
        li.item
            a(href="#") Главная
        li.item
            span=title
mixin industries
    .industriesBlock
        ul.industriesList
            li.item
                a.itemWrapper(href="#")
                    .imageBlock
                        img.image(src="assets/img/i-p1.jpg")
                    .descriptionBlock
                        .descriptionWrapper
                            h2.caption
                                span Транспортное строительство
                            .infoBlock
                                .captionListBlock Решения
                                ul.actionList
                                    li
                                        span Армирование насыпи
                                    li
                                        span Армирование полотна
                                    li
                                        span Армирование
                                    li
                                        span Другие решения...
            li.item
                a.itemWrapper(href="#")
                    .imageBlock
                        img.image(src="assets/img/i-p2.jpg")
                    .descriptionBlock
                        .descriptionWrapper
                            h2.caption
                                span Инженерная защита территории
                            .infoBlock
                                .captionListBlock Решения
                                ul.actionList
                                    li
                                        span Армирование насыпи
                                    li
                                        span Армирование полотна
                                    li
                                        span Армирование
                                    li
                                        span Другие решения...
            li.item
                a.itemWrapper(href="#")
                    .imageBlock
                        img.image(src="assets/img/i-p3.jpg")
                    .descriptionBlock
                        .descriptionWrapper
                            h2.caption
                                span Природоохранные сооружения
                            .infoBlock
                                .captionListBlock Решения
                                ul.actionList
                                    li
                                        span Армирование насыпи
                                    li
                                        span Армирование полотна
                                    li
                                        span Армирование
                                    li
                                        span Другие решения...
            li.item
                a.itemWrapper(href="#")
                    .imageBlock
                        img.image(src="assets/img/i-p4.jpg")
                    .descriptionBlock
                        .descriptionWrapper
                            h2.caption
                                span Энергетический комплекс
                            .infoBlock
                                .captionListBlock Решения
                                ul.actionList
                                    li
                                        span Армирование насыпи
                                    li
                                        span Армирование полотна
                                    li
                                        span Армирование
                                    li
                                        span Другие решения...
            li.item
                a.itemWrapper(href="#")
                    .imageBlock
                        img.image(src="assets/img/i-p5.jpg")
                    .descriptionBlock
                        .descriptionWrapper
                            h2.caption
                                span Горнодобывающая промышленность
                            .infoBlock
                                .captionListBlock Решения
                                ul.actionList
                                    li
                                        span Армирование насыпи
                                    li
                                        span Армирование полотна
                                    li
                                        span Армирование
                                    li
                                        span Другие решения...
        .actionNextBlock
            a.actionNext(href="#")
                span Смотреть все отрасли
mixin materials
    .materialsBlock.wrapper1250
        .materialWrapper
            ul.materialList
                li.item
                    h3.title Геомембрана
                    +content
                li.item
                    h3.title Бентотех
                    +content
                li.item
                    h3.title Объемная георешетка
                    +content
                li.item
                    h3.title Армосет
                    +content
                li.item
                    h3.title Георешетка РД
                    +content
                li.item
                    h3.title Георешетка СД
                    +content
                li.item
                    h3.title Геотекстиль
                    +content
                li.item
                    h3.title Стабигрунт
                    +content
                li.item
                    h3.title Анкерный лист
                    +content
                li.item
                    h3.title Геошпунт
                    +content
                li.item
                    h3.title Биомат
                    +content
                li.item
                    h3.title Геосклон 3D
                    +content
                li.item
                    h3.title Геомат 3D
                    +content
                li.item
                    h3.title Гидромат
                    +content
                li.item
                    h3.title Мобильные дорожные покрытия
                    +content
                li.item
                    h3.title Cover Up
                    +content
mixin content
    .imageBlock
        img(src="assets/img/armaset.jpg")
    .contentBlock
        .contentWrapper
            .viewsBlock
                p.caption Виды
                ul.viewsList
                    li.item Армосет Б
                    li.item Армосет Б/М
                    li.item Армосет П
                    li.item Армосет П/М
            p Армирующая полиэфирная геосетка (георешетка) – плоский рулонный материал, производимый из пучков высокопрочных полиэфирных нитей, скреплённых в форме прямоугольных ячеек, пропитываемых специальным составом
            .actionNextBlock.small
                a.actionNext(href="#")
                    span Посмотреть весь ассортимент армосета
mixin formfeedback(title, description)
    .frame.frame-formFeedback#faq
        .frameWrapper.wrapper440.wrapper
            .titleFrameBlock(align="center")
                h2.titleFrame=title
                if description
                    p=description
            .formBlock
                form.fieldBlock
                    ul.fieldList
                        li.field
                            label.wrap
                                input(type="text", placeholder="Ваша компания" )
                        li.field
                            label.wrap
                                input(type="text", placeholder="Представьтесь, пожалуйста" onInput="validateName(this)")
                        li.field
                            label.wrap
                                input(type="text", placeholder="Номер телефона")
                        li.field
                            label.wrap
                                input(type="text", placeholder="Электронная почта")
                        li.field
                            label.wrap
                                textarea(placeholder="Текст запроса")
                    p.small Политика в отношении обработки персональных данных <a href="#">Согласие на обработку персональных данных</a>
                    .submitBlock
                        button.submit Отправить
mixin filter(filterItem,search)
    .filterBlock
        form.filterItems(data-request-source="#target" class="form filter" method="get" action="/blog/")
            ul.filterList
                li.item
                    .itemWrapper
                        select.filterSelect.selectjs(data-minimum-results-for-search="Infinity", data-placeholder="Применение")
                            option
                            option(value="1") Автомобильные дороги
                            option(value="2") Железные дороги
                            option(value="3") Аэродромы
                            option(value="4") Противооползневая и противоэрозионная защита
                            option(value="5") Водоотвод
                if (filterItem>1)
                    li.item
                        .itemWrapper
                            select.filterSelect.selectjs(data-minimum-results-for-search="Infinity", data-placeholder="Материалы")
                                option
                                option(value="1") Автомобильные дороги
                                option(value="2") Железные дороги
                                option(value="3") Аэродромы
                                option(value="4") Противооползневая и противоэрозионная защита
                                option(value="5") Водоотвод
                if (filterItem>2)
                    li.item
                        .itemWrapper
                            select.filterSelect.selectjs(data-minimum-results-for-search="Infinity", data-placeholder="Что то")
                                option
                                option(value="1") Автомобильные дороги
                                option(value="2") Железные дороги
                                option(value="3") Аэродромы
                                option(value="4") Противооползневая и противоэрозионная защита
                                option(value="5") Водоотвод
        if (search)
            form.searchBlock
                .searchWrapper
                    .searchField
                        input.search(placeholder="Найти чето там...")
                        button.searchButton.submit
mixin frametextbgBlack(title, description)
    .frame.frame-text.bgBlack
        .frameWrapper.wrapper.wrapper1250
            .contentBlock
                h2.h1=title
                p=description
mixin pagination
    .paginationBlock
        .paginationWrapper
            .paginationListBlock
                ul.paginationList
                    li.item.item-prev.navigation
                        a.action(href="#") Назад
                    li.item.active
                        a.action(href="#") 2
                    li.item
                        a.action(href="#") 3
                    li.item
                        a.action(href="#") 4
                    li.item
                        a.action(href="#") 5
                    li.item
                        a.action(href="#") 6
                    li.item
                        a.action(href="#") 7
                    li.item
                        a.action(href="#") ...
                    li.item
                        a.action(href="#") 15
                    li.item.item-next.item.navigation
                        a.action(href="#") Вперед
            .paginationCaptionBlock
                a.paginationCaption(href="/publications/news/?year=2020&page=3" data-src=".paginatorTarget") Показать еще
mixin paginationAlt
    .paginationBlock
        .paginationWrapper
            .paginationCaptionBlock-alt
                a.paginationCaption(href="#") Показать еще
