footer.footer
    .footerWrapper
        .footerContent
            .logoBlock
                a(href="#")
                    img.logo(src="assets/vis/logo.png")
            .footerActionsBlock
                .footerActionsWrapper
                    .footerAction.footerActionApp
                        .caption Загрузите приложение
                        .actionAppsBlock
                            .actionApps
                                a(href="#")
                                    img(src="assets/vis/appStore.jpg")
                            .actionApps
                                a(href="#")
                                    img(src="assets/vis/googlePay.png")
                    .footerAction.footerActionSocial
                        .caption Следуйте за нами
                        .socialListBlock
                            ul.socialList
                                li.item
                                    a(href="#").icon-social.vk
                                li.item
                                    a(href="#").icon-social.facebook
                                li.item
                                    a(href="#").icon-social.inst
                                li.item
                                    a(href="#").icon-social.youtube
                    .footerAction.footerActionContact
                        div
                            a.action.phone(href="tel:3912023202") <span>(391)</span> 202-3-202
                        a.action.email(href="mailto:sos@medved-holding.com") sos@medved-holding.com
            .footerNavigation
                nav.navigation
                    ul.navList
                        li.item
                            a(href="#").action Бренды
                        li.item
                            a(href="#").action Акции
                        li.item
                            a(href="#").action Новости
                        li.item
                            a(href="#").action Мероприятия
                        li.item
                            a(href="#").action Проекты
                        li.item
                            a(href="#").action О компании
                        li.item
                            a(href="#").action Вакансии
                        li.item
                            a(href="#").action Контакты
            .footerDevelop
                .caption Разработка сайта
                a(href="#")
                    img.image(src="assets/vis/devalente.png")
