head
    meta(charset="UTF-8")
    meta(name="viewport","content"="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    meta(http-equiv="X-UA-Compatible",content="ie=edge")
    meta(name="robots", content="noindex, nofollow")
    title Медведь-холдинг
    link(rel="stylesheet", href="assets/css/style.css")
