header.header#header
    .headerWrapper
        .headerContent
            .menuBlock
                a.menuSwitch(href="#")
                    span Меню
            .logoBlock
                a.logoWrapper(href="#")
                    img.logo(src="assets/vis/logo.png")
            .headerActions
                .headerActionsWrapper
                    .actionBlocks
                        .actionBlock
                            a.action.actionEntry(data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на тест-драйв" href="/medvedholdingcorp/form-testDrive.html") Записаться на тест-драйв
                        .actionBlock
                            a.action.actionEntry(data-request-source=".formService" data-request-target="@popup" data-request-title="Записаться на сервисное обслуживание" href="/medvedholdingcorp/form-service.html") Записаться на сервис
                        .actionBlock
                            a.action.actionEntry(href="#") Оформить страховку
                    .actionContacts
                        .cityActionBlock
                            .cityActionWrapper
                                .caption  Ваш город:
                                a.actionCity(href="#") Красноярск
                                .cityNavBlock
                                    ul.cityNavList
                                        li.item
                                            a(href="#") Магнитогорск
                                        li.item
                                            a(href="#") Железногорск
                                        li.item
                                            a(href="#") Санкт-питербург
                                        li.item
                                            a(href="#") Ангарск
                                        li.item
                                            a(href="#") Иркустк
                        div
                            a.action-email(href="mailto:sos@medved-holding.com") sos@medved-holding.com
                        a.action-tell(href="tel:3912023202") <span>(391)</span> 202 3 202
            .headerNavigation
                .headerNavigationWrapper
                    nav.navigation
                        ul.navList
                            li.item.subjs
                                a.action(href="#") Бренды
                                .navigationSub
                                    -let brand = 0
                                    .brandListBlock
                                        ul.brandImageList
                                            while brand < 14
                                                li.brandItem
                                                    a.actionBrand(href="#")
                                                        img(src="assets/vis/logo-brand"+brand+".png")
                                                -brand++
                                        a.caption(href="#") Коммерческие автомобили
                            li.item
                                a.action(href="#") Акции
                            li.item
                                a.action(href="#") Новости
                            li.item
                                a.action(href="#") Мероприятия
                            li.item.sub
                                a.action(href="#") Проекты
                                .navigationSub
                                    ul.navSubList
                                        li.item
                                            a.action(href="#") Проекты бла бла
                                        li.item
                                            a.action(href="#") Trade-In
                                        li.item
                                            a.action(href="#") Высшая школа автомобильного сервиса СФУ
                                        li.item
                                            a.action(href="#") Медведь АКБ
                                        li.item
                                            a.action(href="#") Приложение Medved
                            li.item.sub
                                a.action(href="#") О компании
                                .navigationSub
                                    ul.navSubList
                                        li.item
                                            a.action(href="#") Проекты
                                        li.item
                                            a.action(href="#") Trade-In
                                        li.item
                                            a.action(href="#") Высшая школа автомобильного сервиса СФУ
                                        li.item
                                            a.action(href="#") Медведь АКБ
                                        li.item
                                            a.action(href="#") Приложение Medved
                            li.item
                                a.action(href="#") Контакты
    .headerContentJs
        .headerContentJsWrapper.wrapper
