script(type='text/javascript' charset='UTF-8' src='assets/js/jquery.min.js')
script(type='text/javascript' charset='UTF-8' src='assets/js/jquery.magnific-popup.js')
script(type='text/javascript' charset='UTF-8' src='assets/js/jquery.maskedinput.js')
script(type='text/javascript' charset='UTF-8' src='assets/js/jquery.slick.min.js')
script(type='text/javascript' charset='UTF-8' src='assets/js/swiper.min.js')
script(type='text/javascript' charset='UTF-8' src='assets/js/jquery.datedropper.min.js')
script(type='text/javascript' charset='UTF-8' src='https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js')
script(type='text/javascript' charset='UTF-8' src='assets/js/main.js')
script(type="text/javascript" async src="https://api-maps.yandex.ru/2.1/?load=package.full&lang=ru-RU&onload=mapInit")
