doctype html
include modules/_mixin
html(lang="ru")
    include modules/head
    body
        #page.pageChild
            include modules/header_notJsContent
            block content
            include modules/footer
    include modules/script
