doctype html
include modules/_mixin
html(lang="ru")
    include modules/head
    body
        #page
            include modules/header
            block content
            include modules/footer
    include modules/script
