@font-face {
  font-family: "Noto Sans";
  src: local("font/Noto Sans Display Regular"), local("font/NotoSansDisplay-Regular"), url("font/Notosansdisplayregular.woff2") format("woff2"), url("font/Notosansdisplayregular.woff") format("woff"), url("font/Notosansdisplayregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url('font/FuturaBookC.eot');
  src: local('FuturaBookC'),
  url('font/FuturaBookC.eot?#iefix') format('embedded-opentype'),
  url('font/FuturaBookC.woff2') format('woff2'),
  url('font/FuturaBookC.woff') format('woff'),
  url('font/FuturaBookC.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  //font-family: 'FuturaDemiC';
  font-family: 'FuturaBookC';
  src: url('font/FuturaDemiC.eot');
  src: local('FuturaDemiC'),
  url('font/FuturaDemiC.eot?#iefix') format('embedded-opentype'),
  url('font/FuturaDemiC.woff2') format('woff2'),
  url('font/FuturaDemiC.woff') format('woff'),
  url('font/FuturaDemiC.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

