.careListBlock {
  .careList {
    margin: 0;
    padding: 0;
    font-size: 0;
    .item {
      display: inline-block;
      vertical-align: top;
      width: 33.3333%;
      box-sizing: border-box;
      margin-bottom: 20px;
      @media (max-width: 1124px) {
        width: 40%;
      }
      @media (max-width: 749px) {
        width: 100%;
      }
      .itemWrapper {
        height: 100%;
        padding-left: 8px;
        padding-right: 8px;
        display: block;
      }
    }
    .entryBlock {
      background: #fff;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
      border-radius: 5px;
      position: relative;
      overflow: hidden;
      display: block;
      &:hover {
        .caption {
          color: #CD202C;
          text-decoration: underline;
        }
      }
      .entryWrapper {
        padding: 50px 40px;
        min-height: 470px;
        box-sizing: border-box;
      }
      .imageBlock {
        font-size: 0;
        .image {
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
      .title {
        position: relative;
        z-index: 2;
        font-size: 30px;
        line-height: 34px;
        min-height: 112px;
        margin-bottom: 15px;
      }
      .caption {
        position: relative;
        z-index: 2;
        font-size: 18px;
        line-height: 20px;
      }
    }
  }
  &.notStatic {
    .careList {
      margin-left: -16px;
      .item {
        width: 33.333%;
        padding-left: 16px;
        @media (max-width: 1124px) {
          width: 50%;
        }
        @media (max-width: 749px) {
          width: 100%;
        }
        .entryWrapper {
        }
      }
    }
  }
}
