.newsListBlock {
  .newsList {
    margin: 0;
    padding: 0;
    font-size: 0;
    .item {
      display: inline-block;
      vertical-align: top;
      width: 25%;
      box-sizing: border-box;
      margin-bottom: 20px;
      @media (max-width: 1240px) {
        width: 28%;
      }
      @media (max-width: 900px) {
        width: 40%;
      }
      @media (max-width: 600px) {
        width: 82%;
      }
      .itemWrapper {
        height: 100%;
        padding-left: 8px;
        padding-right: 8px;
        display: block;
      }
    }
    .entryBlock {
      .entryWrapper {

      }
      .imageBlock {
        padding-top: 117.64%;
        font-size: 0;
        position: relative;
        margin-bottom: 16px;
        .image {
          border-radius: 5px;
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          object-position: 50% 50%;
          font-family: "object-fit: cover; object-position: 50% 50%";
        }
      }
      .title {
        font-size: 15px;
        line-height: 22px;
        color: #000000;
      }
      .data {
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
    &.static {
      margin: 0 -8px;
      .item {
        width: 33.333%;
        @media(max-width: 1080px) {
          width: 50%;
        }
        @media(max-width: 480px) {
          width: 100%;
          margin-bottom: 30px;
          .imageBlock {
            padding-top: 93.56%;
          }
        }
      }
    }
  }
}

