.profitListBlock {
  .profitList {
    margin: 0;
    padding: 0;
    font-size: 0;
    .item {
      display: inline-block;
      vertical-align: top;
      width: 33.3333%;
      box-sizing: border-box;
      margin-bottom: 20px;
      @media (max-width: 1124px) {
        width: 40%;
      }
      @media (max-width: 749px) {
        width: 100%;
      }
      .itemWrapper {
        height: 100%;
        padding-left: 8px;
        padding-right: 8px;
        display: block;
      }
    }
    .entryBlock {
      height: 100%;
      background: #fff;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
      border-radius: 5px;
      overflow: hidden;
      display: block;
      .entryWrapper {
        height: 100%;
        box-sizing: border-box;
        padding-bottom: 53px;
        position: relative;
      }
      .imageBlock {
        font-size: 0;
        position: relative;
        padding-top: 86.48%;
        .image {
          position: absolute;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;
          font-family: "object-fit: cover;object-position: 50% 50%;";
        }
      }
      .contentBlock {
        padding: 25px 40px 0;
      }
      .title {
        position: relative;
        z-index: 2;
        font-size: 30px;
        line-height: 34px;
        min-height: 112px;
        margin-bottom: 15px;
        @media (max-width: 600px) {
          font-size: 25px;
          line-height: 1.2;
        }
      }
      .caption {
        z-index: 2;
        font-size: 15px;
        line-height: 1.45;
        position: absolute;
        bottom: 25px;
      }
    }
    &.static {
      margin: 0 -8px;
      .item {
        width: 50%;
        @media (min-width: 601px) {
          &:nth-child(3n+1) {
            width: 100%;

            .entryBlock {
              .caption {
                bottom: 40px;
              }

              .entryWrapper {
                display: flex;
                flex-flow: row nowrap;
                padding-bottom: 0;
              }
            }

            .imageBlock {
              padding-top: 37.64%;
              flex: 1 0 auto;
              box-sizing: border-box;
            }

            .contentBlock {
              margin-left: -480px;
              width: 480px;
              box-sizing: border-box;
              padding: 50px 0 50px;

              .contentWrapper {
                max-width: 480px;
                padding: 40px 40px 70px;
                box-sizing: border-box;
                background-color: #fff;
                position: relative;
                border-radius: 5px 0 0 5px;
              }
            }
          }
        }
        @media (max-width: 600px) {
          width: 100%;
          .entryBlock {
            .contentBlock {
              padding: 25px 30px 0;
            }
          }
        }
      }
    }
  }
}

