.frame-gslider {
  .frameWrapper {
    padding: 0;
    overflow: hidden;
    max-width: 1500px;
  }
  &.notPagination {
    .paginationSlider {
      display: none;
    }
  }
}

.sliderFullBlock {
  .sliderFullWrapper {
  }
  .sliderListBlock {
    .paginationSlider {
      position: absolute;
      bottom: 52px;
      left: 0;
      right: 0;
      z-index: 3;
      .paginationSliderWrapper {
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
      }
    }
    .arrowCustom {
      z-index: 3;
      background-image: $arrSmall-white;
      &.prev-slide {
        left: 30px;
      }
      &.next-slide {
        right: 30px;
      }
      @media (max-width: 1340px) {
        &.prev-slide {
          left: 10px;
        }
        &.next-slide {
          right: 10px;
        }
      }
      @media (max-width: 1280px) {
        &.prev-slide {
          display: none;
        }
      }
      @media (max-width: 540px) {
        &.next-slide {
          display: none;
        }
      }
    }
    .sliderList {
      padding: 0;
      margin: 0;
      font-size: 0;
      .item {

      }
      .itemWrapper {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        &::after {
          content: "";
          clear: both;
          display: table;
        }
      }
      .imageBlock {
        flex: 1 0 auto;
        width: 100%;
        padding: 40% 0 0;
        position: relative;
        background-color: #000;
        .image {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          opacity: 0.7;
          @include objectFit();
        }
      }
      .contentBlock {
        padding: 120px 0;
        width: 100%;
        margin-left: -100%;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        .contentWrapper {
          max-width: 1180px;
          width: 100%;
          margin: 0 auto;
          padding: 0 20px;
          box-sizing: border-box;
        }
        .entryBlock {
          max-width: 400px;
          text-align: left;
        }
        .title {
          font-size: 50px;
          line-height: 1.13;
          color: #FFFFFF;
        }
        .actionBlock {
          margin-top: 25px;
          .action {
            display: inline-block;
            min-width: 280px;
            padding: 15px 20px;
            font-size: 18px;
            line-height: 20px;
            text-align: center;
            background: #212492;
            color: #fff;
            box-sizing: border-box;
          }
        }
      }
    }
    @media (max-width: 600px) {
      .paginationSlider {
        bottom: 37px;
      }
      .sliderList {
        .contentBlock {
          .title {
            font-size: 30px;
          }
          .actionBlock {
            .action {
              min-width: 210px;
            }
          }
        }
      }
    }
  }
}
